[2018-04-13 12:37] pelsasser opened #1 "[makefile] add awscli dependency install to makefile"

[2018-04-18 17:56] pelsasser opened #2 "Create mailing list integration with GetResponse"
We would like to have a mailing list sign up form on our site that integrates with [GetResponse](https://www.getresponse.com/)

Users would be able to enter in their email address, go through a re-captcha pop up, and then receive confirmation that we have added their email address to our GetResponse mailing list.

### Join Our Newsletter
![image](https://user-images.githubusercontent.com/15096737/

[2018-04-18 18:25] pelsasser opened #3 "Create FAQ Page with Markdown Rendering"
We would like to be able to use markdown for simple editing and formatting of a FAQ page on the site.

- Create FAQ page - Using already in place headers and footers
- Create ability to render markdown file into FAQ

## Items needed
1. FAQ Page
2. Markdown rendering to display content in a well organized fashion (could look something like [this](https://docs.marketprotocol.io/#does-market-charge-a

[2018-04-18 19:55] pelsasser opened #4 "Create team / advisors page for new website"
### Description
Code the below UI and also handle the responsiveness. In case you need the `sketch` file for the Design, please join our [Discord](https://www.marketprotocol.io/discord) channel.

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

## UI Mockups

![market_team](https://user-images.githubusercontent.com/15096737/38954872-2c1cac3c-4310-11e8-846d-df5e3f6c221e.png)

![market_

[2018-04-20 10:14] nitinrgupta opened #5 "Handle responsiveness (Support for mobile, tablet and medium screen resoultions)"

[2018-04-20 10:20] nitinrgupta opened #6 "Implement hamburger menu icon for tablet and mobile resolutions"
Ref: https://github.com/ant-design/ant-design/issues/4246

## Items needed
1. Hamburger menu icon
2. Full test coverage of all code written

## Before you `start work`
If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors as possible and parallelize the work flow as much as possibl

[2018-04-20 10:21] nitinrgupta opened #7 "Display a loader until the page loads completely"

[2018-04-21 14:52] pelsasser opened #9 "Create floating "Join our Telegram" message"
See the bottom right of the attached screenshot.  We would like to add a floating message like this to our homepage.

<img width="1376" alt="screen shot 2018-04-21 at 8 49 34 am" src="https://user-images.githubusercontent.com/15096737/39085526-f9dc9b50-4540-11e8-97f9-8eaf1da73259.png">

## Items needed
1. Join Our Telegram Floating Message that is able to be clicked closed (see [here](https://www.

[2018-04-22 14:28] pelsasser opened #10 "Propose solution for blogging to site"
The team would like to be able to publish content both to Medium as well as our own site for SEO purposes.

We need to create a solution with a CMS that allows for a webhook to be created and a build to be generated automatically upon changes to the CMS content.

Ideally we select a CMS that a non technical user is able to publish content to, so all of our team members are able to generate content

[2018-04-22 14:35] pelsasser opened #11 "Create timeline / roadmap for development to be displayed on site"

[2018-04-22 14:36] pelsasser opened #12 "[Partners] Add new /partners page to our site"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-04-22 22:39] jschiarizzi commented on #9
Whoops, finished this on bounties.network before I saw it here too.  Sorry, @stevenwritescode, if you've already finished it I'll split the bounty with you. Anyway... it's complete. https://codepen.io/jschiarizzi/pen/YLyJQr

@pelsasser Did you want a pull request or is the codepen fine?

[2018-04-23 01:31] perfectmak commented on #2
I should be able to help with this.

[2018-04-23 03:00] eswarasai commented on #9
@jschiarizzi -- We need a PR with the above mentioned tasks implemented along with the test coverage for the same. Thanks.

[2018-04-23 04:10] jschiarizzi commented on #9
Okay, I'll do the PR today. I'm not sure what kind of tests I can write for a button in HTML?

[2018-04-23 13:58] pelsasser commented on #2
@perfectmak awesome thanks! Can you give an estimated completion date?

[2018-04-23 14:20] pelsasser opened #13 "Image issues with font on graphic"
![image](https://user-images.githubusercontent.com/15096737/39132403-ff4d22d2-46ce-11e8-9d80-4c5855a6ad03.png)

There are some font issues here - let me know if this is from the mockup or some other issue and we can resolve @nitinrgupta

[2018-04-23 14:30] nitinrgupta commented on #13
Oh! This is because I'm using SVGs.

Will convert the text to shapes. Good catch 👍

[2018-04-23 14:47] pelsasser opened #14 "Small issues with homepage"
Website -
![image](https://user-images.githubusercontent.com/15096737/39133016-7212c7e4-46d0-11e8-97d3-a65eb71b026a.png)

Mock -
![image](https://user-images.githubusercontent.com/15096737/39133051-82d8d122-46d0-11e8-85b7-39bf0c5353bf.png)

1. Fix highlight around T token icon
2. Fix Issues with Arrows

![image](https://user-images.githubusercontent.com/15096737/39133602-cfb4e5ac-46d1-11e8-8102-66

[2018-04-23 14:49] pelsasser opened #15 "npm run build fails"

[2018-04-23 14:54] pelsasser opened #16 "Center buttons below text"
![image](https://user-images.githubusercontent.com/15096737/39134367-b2ac9e76-46d3-11e8-9184-31df56f7ab68.png)

![image](https://user-images.githubusercontent.com/15096737/39134419-cedcb428-46d3-11e8-8b4d-1cc8c51a4683.png)

example from mock -

![image](https://user-images.githubusercontent.com/15096737/39134448-e3222274-46d3-11e8-9d3c-340f1d9102c3.png)

[2018-04-23 15:41] perfectmak commented on #2
On my current schedule. It should take about 2 days.
While I was working on it yesterday, I realized that GetResponse API doesn't allow CORS request which means we would need a backend service to proxy requests to them.

Is there already a plan for this?

[2018-04-23 15:47] eswarasai commented on #2
@perfectmak -- Yeah. We have a serverless setup which currently WIP here -- https://github.com/MARKETProtocol/dApp/pull/106. Probably we can have a small lambda function for the GetResponse API integration too?

[2018-04-23 15:56] pelsasser commented on #2
Ughh... Is this also true for something like mailchimp? @perfectmak

[2018-04-23 16:40] pelsasser opened #17 "Header - add underline on hover similar to dApp"

[2018-04-23 18:16] perfectmak commented on #2
No, mailchimp too doesn't support client side CORS implementation of their API.

I think we should try the serverless route. Because it seems reCaptcha also requires a server side verification to it.

What do you think? Or maybe there is service that does all these newsletter feature her acts like a proxy?

[2018-04-23 18:22] pelsasser opened #19 "Create routing for marketprotocol.io/discord to https://discordapp.com/invite/qN8MCbq"
Set up a redirect for

marketprotocol.io/discord
to
https://discordapp.com/invite/qN8MCbq

and
marketprotocol.io/telegram
to
https://t.me/Market_Protocol_Chat

[2018-04-23 19:59] pelsasser opened #20 "add favicon"
![marketprotocol-m-transparent](https://user-images.githubusercontent.com/15096737/39150104-795d1fbc-46fe-11e8-98ac-7918880bf9b5.png)

[2018-04-24 07:30] eswarasai commented on #2
@pelsasser @perfectmak -- Tracking the Backend part of the issue here -- https://github.com/MARKETProtocol/backend/issues/3

[2018-04-24 20:08] pelsasser commented on #2
I created a dummy form on GetResponse that they are hosting here

https://app.getresponse.com/site2/market-protocol-newsletter?u=hTF8e&webforms_id=B94yl

Apparently we can also embed this form as shown below -

<script type="text/javascript" src="https://app.getresponse.com/view_webform_v2.js?u=hTF8e&webforms_id=B94yl"></script>

Isn't this a much faster solution for the meantime? Currently double

[2018-04-24 22:35] pelsasser opened #21 "[General] Creating testing framework, set up coveralls, travis-CI"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: This will help us merge PR's quickly and allow for continuous integration and deployment

### Description

*Type*: Fea

[2018-04-24 22:36] brentoneill commented on #6
@pelsasser  - Working on the hamburger icon and mobile nav implementation

[2018-04-25 01:15] perfectmak commented on #2
@pelsasser, I didn't notice this your last comment. I think what I did too is similar to what you are doing, but Instead of them hosting the form, I'm using the normal form on the website and submitting it to their `https://app.getresponse.com/add_subscriber.html` url.

I think it should be the same flow.

[2018-04-25 02:46] perfectmak commented on #19
I submitted a PR for this at #23, and redirect works but is it possible that this can be done on the server side? This depends on how the website is being hosted.

[2018-04-25 09:05] eswarasai commented on #19
@perfectmak -- We're planning to host this on AWS S3. I think we can leverage the Redirection rules of S3 bucket in order to achieve this rather than handling it on the code side. Can you confirm the same?

[2018-04-25 09:41] perfectmak commented on #19
Yes, I believe so. Did a quick search relating to s3 redirects and saw [this](https://docs.aws.amazon.com/AmazonS3/latest/dev/how-to-page-redirect.html), I think that is it. It would be possible.

If we are going through this route, I can go ahead and close the PR.

[2018-04-25 09:43] eswarasai commented on #19
@perfectmak -- Yep, that's what even I was referring to. I'd recommend closing the PR. I'd ask @pelsasser to add the redirection rules to the S3 bucket and see if we can close this issue too :)

[2018-04-25 13:02] pelsasser commented on #19
@perfectmak - benefit of doing it via S3 vs in the code? seems the code here is just easier to manipulate in general rather than having to log in a create the rules for each s3 bucket (dev and prod)

[2018-04-25 13:10] pelsasser commented on #9
@stevenwritescode @jschiarizzi - any timeline here? if not will try and get some other hands on deck to help out with the task. Thanks for the interest and help with our project

[2018-04-25 13:59] eswarasai commented on #19
@pelsasser -- For the URL redirection, it's a one-time config. The advantage here is that, server will take care of handling the redirection without even the need to initialise the entire react app on the Frontend and then redirect the user to the intended page. Makes sense?

[2018-04-25 14:01] pelsasser commented on #19
Yes- I will get that set up now on the s3 buckets then.

On Wed, Apr 25, 2018 at 7:59 AM, Eswara Sai <notifications@github.com>
wrote:

--
Phil Elsasser
CTO and Co-Founder

www.marketprotocol.io
<http://www.marketprotocol.io>
Join Our Telegram Community <https://t.me/Market_Protocol_Chat>

[2018-04-25 14:49] #2 closed

[2018-04-25 14:54] perfectmak commented on #2
Yay!. Gitcoin submit works for me now 😀

[2018-04-25 15:08] pelsasser opened #24 "[Join Our Newsletter] Add Floating Message once clicked to allow people to enter their name"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
We should capture user's first and last names that want to join our newsletter

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:It will help us direct marketing and ema

[2018-04-25 15:14] pelsasser opened #26 "[Become a Partner] Allow potential partners to email us"
### User Story

The `Become A Partner` action should be turned around from us emailing someone to a potential partner emailing us.  For the time being this can be as simply as a `mailto:partnerships@marketprotocol.io` and eventually could be a form.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would lik

[2018-04-25 15:15] #20 closed

[2018-04-25 17:07] perfectmak commented on #26
I think I should be able to do this quickly. What is the proposed subject and body text we can include? @pelsasser

[2018-04-25 18:17] #26 closed

[2018-04-25 18:32] vikaskyadav commented on #24
Can't we integrate this newsletter subscription logic with services like MailChimp?

[2018-04-25 18:38] pelsasser commented on #24
Mail chimp is closing down accounts of crypto projects, currently people have recommended GetResponse, although at the moment I am not thrilled with them.

[2018-04-25 18:43] vikaskyadav commented on #10
We can use WordPress as CMS for the website. Plus, it will be easy to import posts from medium. Additionally, Gutenberg editor is expected to come as a stable version which really will enhance the usability for non-technical users.

[2018-04-25 18:46] vikaskyadav commented on #24
oh yeah, I heard of this a few weeks back. Let us see what we can use for long term hasslefree.

[2018-04-25 19:36] pelsasser commented on #10
@vikaskyadav your suggesting a wordpress blog that we link to the main site?

[2018-04-25 19:58] vikaskyadav commented on #10
yeah. something like that. It will be easy to manage this way as you are
also emphasizing on usability aspects.

On Thu, 26 Apr 2018, 01:06 Phil Elsasser, <notifications@github.com> wrote:

[2018-04-25 20:11] pelsasser commented on #19
thanks for all the help here!

[2018-04-25 20:11] #19 closed

[2018-04-26 05:42] nitinrgupta commented on #6
Hey @brentoneill, nice you picked up this bounty. Let me know if you need any help with the implementation and the project structure.

We're using `react-static` with `styled-components`. As the issue description mentions, we're also using [AntD](https://ant.design/components/menu/) for the menu. You can go through this [issue](https://github.com/ant-design/ant-design/issues/4246) if it helps.

[2018-04-26 07:03] nitinrgupta commented on #16
Centering the buttons below the texts don't feel right @pelsasser because the texts are left aligned.
That's why I've left aligned the buttons as well to make to feel natural.

[2018-04-26 11:49] pelsasser commented on #16
@nitinrgupta okay - so you don't like how it looks in the mock? I like the stacked buttons being the same width essentially matching that to the column width of the text.  Have you tried something like that? still seems off?

[2018-04-26 11:51] nitinrgupta commented on #16
In the mockups it looks fine. But if in the implementation, we have to consider the cases where the width of the screen would be huge, like in a 15" screen etc which might not look good. Have a look at the current implementation and let me know if its fine.
I've modified in such a way that the buttons will take full width in mobile resolutions.

[2018-04-26 11:55] pelsasser commented on #16
okay - for the sake of time to market which is a big concern right and the fact that I do like your implementation, lets close this and move on for now!  Thanks for the feedback.

[2018-04-26 11:55] #16 closed

[2018-04-26 11:57] pelsasser commented on #21
@zoek1 - Thanks for working on another one of our bounties! can you please let us a know a time frame on this?

[2018-04-26 12:02] nitinrgupta commented on #17
This would make sense if we have a sticky navbar which isn't the scenario with the website. I think we should be fine without the underline on hover.

[2018-04-26 12:07] pelsasser commented on #13
fixed.

[2018-04-26 12:07] #13 closed

[2018-04-26 13:44] jschiarizzi commented on #9
Sorry, I'm working on it now. Got it going in react but I didn't realize this website is totally different than the current https://www.marketprotocol.io/ so I have to restyle it. It will be done today

[2018-04-26 15:50] jschiarizzi commented on #9
![button](https://user-images.githubusercontent.com/9449596/39316772-f903df1c-4947-11e8-8595-dd534732a5e9.png)

[2018-04-26 16:52] brentoneill commented on #6
@nitinrgupta Thanks for the warm welcome!

I just submitted a PR for this - https://github.com/MARKETProtocol/website/pull/29

I was able to figure out the AntD library and project structure w/o too much issue, but styled-components are new to me, so I may need some help on applying styles in a more styled-components-appropriate-manner.

[2018-04-26 17:41] pelsasser opened #30 "[Nav Bar] Issues when clicking link to new target and then back to previously opened site"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)
![image](https://user-images.githubusercontent.com/15096737/39322109-06b3a07c-4946-11e8-92a8-5b7ff97415df.png)

### Expected Behavior
[comment]: # (Describe what you expected to happen.)
Team Page to stay highlighted while on team page.

### Reproduction
[

[2018-04-26 17:52] pelsasser commented on #4
@bradysheridan please `submit work` on gitcoin and I will pay this out! thanks for all your help

[2018-04-26 19:44] pelsasser commented on #9
@jschiarizzi when you are ready please create a pull request so we can review! thanks for your hard work.

[2018-04-26 19:53] pelsasser opened #31 "[Nav Bar] Subscribe doesn't work from pages other than home screen or after scrolling"
### User Story
When clicking `Subscribe` in the header nav bar it scrolls you to the correct place to join the newsletter.  However if you scroll back, and then try and click it again, it doesn't work.

Additionally, if you are on /team page, and attempt to click subscribe, you do not end up in the correct spot either.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task

[2018-04-26 22:29] pelsasser commented on #3
@moonniy - can you provide any updates on your progress here? If none, I may close this issue in favor of using the existing FAQ at docs.marketprotocol.io for simplification.

[2018-04-27 01:54] jschiarizzi commented on #9
Gotta get it just right. It needs an x out button. I'm new to React so this has been a great learning test.

[2018-04-27 12:31] #6 closed

[2018-04-27 12:32] pelsasser commented on #6
@brentoneill thanks Brent!  If you `submit work` on gitcoin I can get this paid out!

Appreciate the hard work, very excited to take the site live.

[2018-04-27 13:10] pelsasser commented on #9
@row2k - thanks for your contribution! Really appreciate it

[2018-04-27 13:10] #9 closed

[2018-04-27 15:37] rojosnow opened #33 "[Layout] Overflow issue on macOS latest Chrome, Firefox, & Safari"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: There is an width overflow issue on all of the pages on the site (horizontal scrollbar is displayed at all screen widt

[2018-04-27 15:44] pelsasser commented on #33
@rojosnow - can you provide a screenshot? I do not see the scroll bar on my mac, using chrome or safari

[2018-04-27 15:48] rojosnow commented on #33
![screen shot 2018-04-27 at 9 46 57 am](https://user-images.githubusercontent.com/778262/39371846-15623d6c-4a00-11e8-82bb-6ce4cc9e2704.png)
![screen shot 2018-04-27 at 9 47 26 am](https://user-images.githubusercontent.com/778262/39371848-181bce10-4a00-11e8-97f1-0afe363651e6.png)

[2018-04-27 15:54] rojosnow commented on #33
Here are the others.

Firefox 59.0.2 (64-bit)
![screen shot 2018-04-27 at 9 51 55 am](https://user-images.githubusercontent.com/778262/39372141-d0672906-4a00-11e8-895f-7436d6f70a9f.png)

Safari Version 11.1 (12605.1.33.1.3)
![screen shot 2018-04-27 at 9 51 36 am](https://user-images.githubusercontent.com/778262/39372152-d7699568-4a00-11e8-9c8f-2d6072992424.png)

[2018-04-27 16:17] pelsasser opened #34 "[Google-Analytics] Add GA Tag to all pages"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
Add GA tag to all pages of new site

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:because who doesn't want google to have more data

### Description

[comment]: # (F

[2018-04-27 16:53] pelsasser opened #35 "[Main Hero Graphic] Increase resolution of .png"
### Description

Main hero graphic is a bit grainy on larger monitors

### Solution
[comment]: # (Provide a summary of the solution and a task list on what needs to be fixed.)
*Summary*: increase resolution of graphic

[2018-04-27 16:55] nitinrgupta commented on #35
Will be updating the png image to svg real soon.

[2018-04-27 21:30] pelsasser commented on #35
thanks @nitinrgupta !!

[2018-04-27 21:30] #35 closed

[2018-04-28 12:51] vs77bb commented on #4
@pelsasser Gitcoin Bot obviously a bit overzealous here. Although, I don't see a WIP PR or a comment, so not sure how it would have found that @bradysheridan was working this 🤔... plz ignore for now. Good work @bradysheridan!

[2018-04-28 13:03] eswarasai commented on #4
@vs77bb -- That's because @bradysheridan clicked `Start Work` button on Gitcoin. So that's how Gitcoin Bot knew. Anyway I'm closing this issue now :)

[2018-04-28 13:03] #4 closed

[2018-04-29 14:44] pelsasser opened #37 "[General] Optimizations for faster load times"
### User Story

Our site is being accessed from all over the world, and it would be nice to optimize it slightly for places with slower connects.

### Why Is this Needed?

*Summary*: Important for first impressions from users
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

https://developers.google.com/speed/pagespeed/insights/?url=www.marketprotocol.io&tab=desktop

[2018-04-29 14:47] pelsasser opened #38 "[General] Setup linter"
### User Story
Need more code standardization's and automated checks to ensure quality of commits

### Why Is this Needed?

Many new bounties to be posted once we have this structure in place to finish of main needs of `website`

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Additional Information
@eswarasai can maybe help with this since he already is working

[2018-04-30 12:25] pelsasser commented on #21
@zoek1 if you `submit work` on github, I will pay this out! thanks so much!!

[2018-04-30 13:47] #38 closed

[2018-04-30 14:50] bradysheridan commented on #4
@pelsasser The amount of gas I received from the Gitcoin faucet was pretty abysmal and this transaction is taking forever to post, but I did click submit work! Hopefully it comes through soon!

[2018-04-30 15:29] bradysheridan commented on #4
@pelsasser Tried again with more gas. I believe it just went through.

[2018-04-30 16:00] pelsasser opened #40 "[Meta] add meta tags / cards for all social media"
### User Story

When sharing the website we would like to customize the meta card that is display to twitter, telegram, medium, etc.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: should allow for a nice quick summary to the site.

### Description

[2018-04-30 19:32] pelsasser commented on #33
@JonnyBurger - thanks for the quick turnaround.
@rojosnow - changes are live at dev.website.marketprotocol.io - please confirm this can be closed.

[2018-04-30 20:04] pelsasser opened #43 "[General] Add link / button on main page to learn more about contributing"
### User Story

Potential contributors my find site and not early realize that we are extremely welcoming of new contributors

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: We want to continue to grow and foster our OSS development community

###

[2018-04-30 20:12] rojosnow commented on #33
Everything looks good on macOS Chrome, Firefox, and Safari. @JonnyBurger, thanks for the lesson on the `vw` (viewport).

[2018-04-30 22:58] #34 closed

[2018-05-01 06:32] vikaskyadav commented on #43
Either we can provide one more link in top navbar or in the footer menu. rest of the page discusses the flow and about how the app works.

[2018-05-01 07:06] dreday966 commented on #24
hi, I have completed the work, but I need some ether to submit my work.

[2018-05-01 10:15] eswarasai commented on #24
@dreday966 -- You can use [Gitcoin Faucet](https://gitcoin.co/faucet) to get some ETH. Moreover, you can raise a PR even without clicking the `Submit Work` button on Gitcoin, so that we can review it in the meantime while you get some ETH to update the status of the bounty on Gitcoin.

FYI, ideally this bounty belongs to @perfectmak since he called dibs on it. So, before starting work, please give

[2018-05-01 10:29] eswarasai commented on #40
@pelsasser -- Is this good be paid out and closed?

[2018-05-01 10:33] #33 closed

[2018-05-01 10:43] eswarasai commented on #1
@pelsasser -- This can be closed right? Moreover, I think we can remove the AWS deploy from `makefile` as we have automated deployment in place already

[2018-05-01 10:54] eswarasai commented on #3
@moonniy -- Any update on when can we expect a PR? Thanks

[2018-05-01 11:00] pelsasser commented on #40
@tschoffelen - thanks for the quick turnaround, looks like it is all working from our end.

Can you help me understand the choice of a .jpg vs .png for the social.jpg?

@eswarasai - I will get the bounty paid out now.

[2018-05-01 11:00] #40 closed

[2018-05-01 12:07] pelsasser opened #46 "[NavBar] Add dropdown under white paper to allow for selection of white paper language."
### User Story

Our white paper has been translated into chinese!  We need a way for people to be able to find it.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: We eventually will have many languages supported as we expand globally.

### Descript

[2018-05-01 12:17] pelsasser opened #47 "[Team / Advisors] Add new advisors to /team page."
### Why Is this Needed?
*Summary*: We have added some new advisors to the project and would like to add them to the /team page.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:  Feature

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)

- [ ] Edit attached photos to match https://www.marketprotocol.io/team/ advisors sectio

[2018-05-01 14:26] tschoffelen commented on #40
@pelsasser Facebook's compression algorithm usually causes PNGs with solid backgrounds to look really terrible in my experience. That's the only reason I went for JPG, because otherwise PNG would indeed be the obvious choice for this image.

[2018-05-01 14:28] perfectmak commented on #24
It is cool. I haven't done tangible work on it. So he is free to claim it.

[2018-05-01 14:32] brentoneill commented on #47
@pelsasser I can pick this up today!

[2018-05-01 14:55] dreday966 commented on #24
@perfectmak thx, I just try to taste using gitcoin.

[2018-05-01 16:48] pelsasser commented on #1
would prefer to leave them in, even if it is just for the dev.website deployment, it is sometimes nice to have finer grain control for testing things than having to commit them.

[2018-05-01 16:49] pelsasser commented on #47
@brentoneill - sounds great, let me get some eth on it.

[2018-05-02 01:18] pelsasser opened #49 "[General] Increase test coverage"
### User Story

[comment]: # We built the website quickly and accumulated debt in the form of a lack of testing, time to fix that!

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Should help everyone's dev process with better testing in place

###

[2018-05-02 12:05] pelsasser commented on #49
@zoek1 - may be good to be aware that #50 has some tests for the team page, so maybe start on the main page.  Working on going over that PR to get it merged for you.

[2018-05-02 15:19] brentoneill commented on #46
@pelsasser I can take this one today after my other PR is approved

[2018-05-02 15:20] brentoneill commented on #37
After looking at the Google Page Speed page, it looks like the remaining optimizations to be made are on the server side: Browser Caching and Compression (gZip)

[2018-05-02 17:06] pelsasser commented on #46
I just uploaded the WP
https://github.com/MARKETProtocol/website/blob/develop/assets/MARKET_Protocol-Whitepaper-Chinese.pdf

[2018-05-02 17:26] #31 closed

[2018-05-02 17:27] pelsasser commented on #31
@JonnyBurger - thanks for the fix! getting this paid out now!

[2018-05-02 19:39] eswarasai commented on #37
@brentoneill -- A little bit about how the `website` is actually deployed. It's a AWS S3 bucket being served through CloudFront.

As mentioned in the below article we need to send the Accept-Content Header in order to enable compression I guess. Not really sure how can it be done, but feel free to suggest your ideas here -- https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Serving

[2018-05-03 12:13] cryptomental opened #53 "[UI] Add padding to handle the UI for larger screens"
As discussed on Discord, padding should be applied to accomodate the UI for large screens. Currently the SVGs seem to be a bit too big on large monitors.

[2018-05-03 13:02] pelsasser opened #54 "[TLD] Remove all links / references to www now that we have migrated to TLD of marketprotocol.io"
### Why Is this Needed?

*Summary*: Consistency, www is no longer needed

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Current Behavior
[comment]: # (Describe what actually happened.)
WP and summary are still linked using www.marketprotocol.io

### Expected Behavior
[comment]: # (Describe what you expected to happen.)
WP and summary linked using marketprotocol

[2018-05-03 13:43] brentoneill commented on #49
Happy to pick up some tests if we don't mind having multiple people working on this.

[2018-05-03 21:50] pchuck opened #57 "[SEO] Page Titles"
### Why Is this Needed?

*Summary*: Pages with short and concise yet descriptive titles help improve search rankings.

### Description

*Type*: Enhancement

### Current Behavior

Currently, all pages on the site (namely / and /team don't include a title and default to 'MARKET Protocol').

### Expected Behavior

Pages should render with a title tag containing a short and descriptive page title text

[2018-05-03 21:57] pchuck opened #58 "[SEO] 404 page usability - create nicer 404 page"
### Why Is this Needed?

*Summary*: Sites with higher usability, including more descriptive and navigable error pages rank higher.

### Description

*Type*: Enhancement

### Current Behavior

Currently, the site returns '404 - Page Not Found :('

### Expected Behavior

404 Page should contain some additional human-readable text and instructions, including a link to the main marketprotocol.io/ if n

[2018-05-03 22:04] garyaka commented on #54
So how do I submit changes? Can't find the contribution page for some reason.

[2018-05-03 22:04] pchuck opened #59 "[SEO] Page load times - remove all extra libraries."
### Why Is this Needed?

*Summary*: Pages with faster average load times rank higher in search.

### Description

*Type*: Enhancement

### Current Behavior

Not quantified/measured.

### Solution

A number of libraries are included both by default in react-static and the page theme may not be required given the features used by the MARKET Protocol site. Removing unused libraries could reduce the f

[2018-05-03 22:09] pchuck opened #60 "[SEO] Page metadata, tags and descriptions"
### Why Is this Needed?

*Summary*: Pages with short and concise yet descriptions, useful metadata and tags improve search rankings.

### Description

*Type*: Enhancement

### Solution

Add page descriptions, useful metadata and tags to the main pages on the site for improved search indexing and classification.

### Definition of Done

The main and team pages should render with source containing t

[2018-05-03 22:10] pchuck commented on #60
The meta tags that google considers are described here  https://support.google.com/webmasters/answer/79812?hl=en

[2018-05-03 22:15] pchuck opened #61 "[SEO] Create sitemap and robots.txt"
### Why Is this Needed?

*Summary*: Sites with a programmatically readable sitemap and hints in robots.txt have improved search rankings and better appearance/formatting in search results.

### Description

*Type*: Enhancement

### Solution

Create a sitemap for marketprotocol.io and add a sitemap attribute to the site's robots.txt
Additionally, consider referencing content both at the main market

[2018-05-03 22:16] pchuck commented on #61
More details about sitemaps can be found here     https://support.google.com/webmasters/answer/183668?hl=en

[2018-05-03 22:22] pchuck opened #62 "[SEO] site content"
### Why Is this Needed?

*Summary*: Increasingly, search engines use natural language processing to weigh content over links when evaluating the quality and authority of a given site. Sites with more unique and quality content rank higher in search results.

### Description

*Type*: Enhancement

### Solution

Consider moving some of the innovative content unique to MARKET Protocol into the main si

[2018-05-03 22:28] pchuck opened #63 "[SEO] site structure"
### Why Is this Needed?

*Summary*: Increasingly, search engines use natural language processing to weigh usability, site structure, and content, including 'internal' links (rather than just incoming 'external' links) when evaluating the quality and authority of a given site. Sites with more unique and quality content and structure rank higher in search results.

### Description

*Type*: Enhanceme

[2018-05-03 22:54] pelsasser commented on #54
@garyaka - here is some docs explaining how to create a pull request - https://help.github.com/articles/creating-a-pull-request/

[2018-05-03 22:55] pchuck commented on #61
Additionally, consider referencing content both at the main marketprotocol.io and docs.marketprotocol.io sites to aid navigability and association between the two

[2018-05-04 13:49] #47 closed

[2018-05-04 15:26] pelsasser commented on #53
@nitinrgupta is going to take a crack at this sometime soon

[2018-05-04 15:37] garyaka commented on #59
I can check on usage and remove them. I already saw axio wasn't used but referenced

[2018-05-04 15:38] pelsasser commented on #59
@garyaka - thanks for the willingness to help, lets get your first PR, #68,  sorted out and if this issue still isn't claimed then, would love to have your help.

[2018-05-04 16:17] pelsasser commented on #3
closing, we will use the docs.marketprotocol.io FAQ for time being.

[2018-05-04 16:17] #3 closed

[2018-05-04 18:57] pchuck commented on #60
here's a description and some initial keywords for the main page

description
  "MARKET Protocol provides a secure, flexible, open source foundation for decentralized trading on the Ethereum blockchain"

keywords
  trustless trading
  decentralized derivatives
  decentralized futures
  cryptocurrency derivatives
  cryptocurrency futures
  crypto shorting
  crypto hedging
  altcoin
  bitcoin
  ethe

[2018-05-04 23:11] garyaka commented on #58
I'll start working on this.
I pressed start work from gitcoin site. Hopefully that worked.

[2018-05-05 05:46] zoek1 commented on #49
@pelsasser i planned tackling this in this weekend but seems @jintoppy is making a great job. I'm happy to provide support if it's nedeed. Good luck @jintoppy! :smile:

[2018-05-05 06:42] kylewu commented on #57
@pchuck FYI pr #71 for metadata issue could fix this very easily

[2018-05-06 21:14] eswarasai commented on #57
@brentoneill @FrasBase -- Looks like @kylewu had already started work on this and submitted a PR. Sorry about me not being able to co-ordinate better here. But I hope to see you guys around for helping us with other bounties we have. Thanks for your interest and understanding :)

@kylewu -- Going forward, please do comment on the GitHub Issue before starting work, so that we can keep track of who'

[2018-05-07 12:50] pelsasser commented on #49
@zoek1 - thanks @jintoppy is killing it!!

[2018-05-07 12:59] nitinrgupta commented on #43
@pelsasser We can have a separate section dedicated for OSS at the bottom below the CTA.
Here's a quick mock of what I'm talking about
<img width="641" alt="screen shot 2018-05-07 at 6 27 46 pm" src="https://user-images.githubusercontent.com/4952395/39703059-7c1c028c-5224-11e8-99cd-93df5906c0d1.png">

[2018-05-07 13:06] pelsasser commented on #43
@nitinrgupta - I like this, but worry out main page may start to get long (if we end up adding more section in the future, perhaps regarding our token, etc).

Any ideas on breaking this out into a separate page?  We also will be adding a Partners page in the near future.

[2018-05-07 15:11] #59 closed

[2018-05-07 16:58] nitinrgupta commented on #43
That's a good point you bought there @pelsasser.
But, I don't see the need for an entire page dedicated for OSS contributions since we already have that part sorted out in [https://docs.marketprotocol.io/#contributing](https://docs.marketprotocol.io/#contributing)

Also, this is a small section which wouldn't consume much of a scroll space is what I feel. Well it should be fine atleast till we sta

[2018-05-07 17:03] pelsasser commented on #43
@nitinrgupta - okay cool.  Get Started would link to the https://docs.marketprotocol.io/#contributing I assume.

[2018-05-07 17:08] nitinrgupta commented on #43
Yup.

Another idea which I could think of is having a small "badge" kind of thing in the footer. But this would hide the emphasis on OSS contributions and the welcoming nature of it.

[2018-05-07 17:10] pelsasser commented on #43
agreed.

[2018-05-07 20:17] #60 closed

[2018-05-07 20:17] #57 closed

[2018-05-07 21:06] #58 closed

[2018-05-08 17:07] #46 closed

[2018-05-08 18:04] pelsasser opened #73 "[Footer] Create more padding around text summary"
### Why Is this Needed?

Text can become very close to Documentation links

### Description

*Type*: Bug
![image](https://user-images.githubusercontent.com/15096737/39774336-c997bc0c-52b7-11e8-8a68-ceab76f477d7.png)

### Current Behavior
Text doesn't have enough padding

### Expected Behavior
Add padding

### Reproduction
Expand window width on larger monitor

### Solution
[comment]: # (Provide a

[2018-05-09 11:43] #49 closed

[2018-05-09 12:17] pelsasser commented on #61
@vikaskyadav - glad you picked this one up, can you comment here letting us know a timeline to completion? thanks for helping us out again!

[2018-05-09 12:38] pelsasser commented on #37
@rojosnow - since you have a pretty good handle on what is needed here, can you help to build out the issue so we can push a bounty out there to get it worked on

[2018-05-09 18:27] #17 closed

[2018-05-09 18:29] #7 closed

[2018-05-09 18:29] #1 closed

[2018-05-09 19:29] pelsasser commented on #24
@dreday966 - please `submit work` on gitcoin so I can pay out the bounty

[2018-05-10 05:47] dreday966 commented on #24
@pelsasser My FAUCET request haven't be approved. Could you please just send ether to my wallet, I will close the work, thanks.

[2018-05-10 07:48] eswarasai commented on #24
@dreday966 -- Can you please DM your ETH wallet address to @pelsasser on [MARKET Protocol Discord](https://marketprotocol.io/discord)? Thanks!

[2018-05-10 08:20] dreday966 commented on #24
@eswarasai ok, I have sent the address to @pelsasser.

[2018-05-10 11:39] pelsasser commented on #24
Sent directly.
https://etherscan.io/tx/0xd05c2e6595f8caf1005cd216c06e6568c4cf79f38beb7a7b67885608966ad1a6

[2018-05-10 17:53] #73 closed

[2018-05-10 18:00] pchuck commented on #61
this document contains useful information about sitemaps. https://www.sitemaps.org/protocol.html

of particular interest, since the site is split between docs.marketprotocol.io and marketprotocol.io, is the section "Sitemaps & Cross Submits"

[2018-05-10 21:13] rojosnow opened #75 "[Team / Advisors] Add new team member to /team page."
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-10 23:35] iamonuwa commented on #75
@rojosnow could you please write a bio for this team member and also what is his full name please

[2018-05-10 23:36] iamonuwa commented on #75
@pelsasser I discovered the images are in svg. Can I get an svg format of this image please am a linux user. Don't have sketch except if I can use online svg converters

[2018-05-11 02:35] bakaoh commented on #73
@pelsasser please release the bounty so i can pick up a new issue

[2018-05-11 02:54] pelsasser commented on #73
@bakaoh - not sure what is going on - here is the accept work transaction

https://etherscan.io/tx/0xdf6ccee7475e0357f13993ec373e7424cf901804855af74668329fdb1c70024d

pretty sure it shows the payment being delivered to you. Can you confirm?

[2018-05-11 03:09] bakaoh commented on #73
@pelsasser yes, i received the payment but the bounty is till not done, i asked cause i don't know if i can pick other issue. I think it is bug of gitcoin

[2018-05-11 14:36] pelsasser commented on #75
@iamonuwa thanks again!
@rojosnow will open new issue to track your needed bio

[2018-05-11 14:36] #75 closed

[2018-05-11 14:40] pelsasser commented on #61
@arun1595 - any status update here? would love to get this done ASAP so we can understand the next round of changes need to improve our SEO

[2018-05-11 14:41] arun1595 commented on #61
@pelsasser Working on it. PR coming soon :smile:

[2018-05-11 14:47] pelsasser commented on #61
Awesome! just sent you a thank you email for all of your hard work in general!

[2018-05-11 17:47] rojosnow opened #77 "[Team / Advisors] Add new team member bio to /team page"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Bio text for Robert Jordan is missing.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[2018-05-11 17:54] pelsasser commented on #43
@nitinrgupta - I am closing this and passed along your design to aure to incorporate into the new "About" page that will have more info on the protocol, timeline, OSS contributions, etc.  Thanks for the mock up!

[2018-05-11 17:54] #43 closed

[2018-05-11 19:16] #77 closed

[2018-05-11 22:45] pelsasser commented on #53
@nitinrgupta - just wanted to make sure your planning on getting to this over the weekend still.  Please LMK if not

[2018-05-12 00:07] pelsasser opened #80 "[Press] Create new press page"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-12 05:45] dreday966 commented on #80
Hi, @pelsasser I am back, I think I am able to accomplish this page quickly.

There is one question.
<img width="1208" alt="2018-05-12 1 40 22" src="https://user-images.githubusercontent.com/9654172/39954035-27325298-55ea-11e8-960a-5fe490d15249.png">
Where should I put the press link in the footer?

Timeline: I can make a version in one day, then we can adjust the style.

[2018-05-12 12:34] pelsasser commented on #80
@dreday966 - that is a great question.  Perhaps under the community column makes most sense.

Thanks for picking this one up!

[2018-05-13 14:28] nitinrgupta commented on #53
yes @pelsasser I'm on it.

@cryptomental can you share some screenshots of what you meant by the illustrations being too large on big screen devices? That'd help me in visualizing how to tackle.

[2018-05-15 01:51] #61 closed

[2018-05-16 02:06] pelsasser opened #82 "[Jobs] Create new Jobs page"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-17 01:14] pelsasser opened #83 "[About] Add an /about page to our site!"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-17 02:27] pelsasser opened #84 "[Newsletters] add ability to post newsletters to website"
### User Story

As a user I would like to be able to keep up with the latest newsletters from MARKET Protocol

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Archive off all newsletters!

### Description

[comment]: # (Feature or Bug? i.e Type: Bug

[2018-05-17 11:32] pelsasser commented on #82
@sace-the-programmer - welcome!  Please let me know if you have any questions

[2018-05-17 11:58] pelsasser commented on #53
![image](https://user-images.githubusercontent.com/15096737/40176042-3581e11e-5997-11e8-9d9b-41590d91c8af.png)

![image](https://user-images.githubusercontent.com/15096737/40176068-490df510-5997-11e8-8e0e-06ee4b983ec7.png)

perhaps these will help @nitinrgupta

[2018-05-17 12:47] 42piratas commented on #84
@pelsasser maybe the website needs a general flexible content mgmt system, then you can create categories such as "jobs" (e.g. http://marketprotocol.io/jobs/certain-opening) and "news" (e.g. http://marketprotocol.io/news/newsletter-cw20) and even other categories in the future, as the ideas pop up?

[2018-05-17 13:47] pelsasser commented on #84
yea, possibly.  We have talked alot about how best to blog as well, so something to consider.

[2018-05-18 16:26] dreday966 commented on #80
commented wrong place...

[2018-05-18 18:57] #80 closed

[2018-05-18 19:25] pelsasser opened #85 "[Travis] add test for production build"
### User Story

As a repo maintainer and as a contributor it would be great to make sure my PR passes prod builds

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
To make things easier on everyone!

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)

[2018-05-18 19:37] #11 closed

[2018-05-19 15:16] pelsasser commented on #82
@sace-the-programmer - please respond by today to your plan here or I am going to release the bounty to someone else.  Appreciate your interest and would love to have you complete it, but need some indication of WIP to proceed.

[2018-05-20 14:13] pelsasser commented on #12
@brentoneill  - how is this going? any questions or assistance needed?

[2018-05-20 20:47] eswarasai commented on #82
@alecwesterman -- Thanks for picking up this bounty and showing interest in MARKET Protocol. Feel free to join our [Discord](https://marketprotocol.io/discord) channel in case you have any queries.

Note : Please do submit a mock UI before starting with the development for the Jobs page. Thanks!

[2018-05-20 20:52] pelsasser commented on #53
@nitinrgupta - just took a look at this, I think it looks way better!  @cryptomental curious your thoughts before we merge it.

[2018-05-21 11:50] pelsasser commented on #82
@alecwesterman  - glad your lending a hand!

Are you working on this bounty or this one https://github.com/MARKETProtocol/dApp/issues/153 ?  We attempt to have people only work on one bounty at a time to make sure we can meet internal timelines.  Please let us know which of them is in progress and you would like to tackle first.

[2018-05-21 11:55] pelsasser commented on #12
Sorry I didn't see these questions

Ideally we would create an intake form, but for the time being just sending them to an email link is fine.

You can use the same link / subject that exists on the main page

[2018-05-21 12:45] pelsasser commented on #82
okay sounds good, are you okay with me letting someone else work on the #153 in `dApp` so we can parallelize work flow?  Not sure how much time or work you have put in there.

[2018-05-21 12:47] alecwesterman commented on #82
So far, I've only started working on
https://github.com/MARKETProtocol/website/issues/82 so we are good.

Alec

On Mon, May 21, 2018 at 6:45 AM, Phil Elsasser <notifications@github.com>
wrote:

--
Next Lyst LLC.
alecwesterman@alumni.mines.edu <alewesterman@alumni.mines.edu>
970-324-1796

[2018-05-21 13:18] #85 closed

[2018-05-22 13:39] pelsasser opened #92 "[timeline] once /about page is finished, amend time line per legal."

[2018-05-23 13:19] lakikentaki opened #93 "[Press] Setup press page similar to blog"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-23 13:31] pelsasser commented on #93
@lakikentaki thanks for submitting this issue! Certainly part of the large goal and milestone of creating a content management system (CMS) that can be used by team members to add press, blogs, and newsletters to the site.

[2018-05-23 13:35] pelsasser opened #94 "[SEO] Update images to help with SEO"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-23 13:57] lakikentaki opened #95 "[Press] Upload Coin Crunch Podcast with Seth Rubin on website press page!"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-23 14:00] pelsasser commented on #95
Thanks @lakikentaki !!

[2018-05-24 12:12] #83 closed

[2018-05-24 13:44] pelsasser commented on #95
@arun1595 that sounds great! thanks.  LMK if you need anything more.

[2018-05-24 13:47] arun1595 commented on #95
@pelsasser Sure, will do.

[2018-05-24 16:48] alecwesterman commented on #82
@pelsasser @rojosnow Just finished draft 1 of my mockup.

I suspect what is needed a graphic similar to the bottom right one on top of the right dimensions and character. I tried going darker image wise and removing the overlay but it looks off without some green and gloomy with so tried making it a slightly different shade as a stop gap.

https://app.moqups.com/alecwesterman@gmail.com/yQPE4P3OqV/

[2018-05-24 17:13] rojosnow commented on #82
@alecwesterman Try sharing that link in a view mode. It required me to login and then said I didn't have permissions to edit. Thanks.

[2018-05-24 17:31] alecwesterman commented on #82
@rojosnow Odd. Seemed to work in a 2nd browser. Just tried changing settings as shown and opening it in a 3rd where I don't look logged in.

https://app.moqups.com/alecwesterman@gmail.com/yQPE4P3OqV/view?fit_width=1

![screen shot 2018-05-24 at 11 29 04 am](https://user-images.githubusercontent.com/1142361/40501666-c709c71a-5f45-11e8-9524-81b67b6a14a2.png)

Better?

[2018-05-24 18:44] pelsasser opened #96 "[team] update headshot for Phil Elsasser"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-24 18:45] pelsasser opened #97 "[SEO] Optimize .pdf whitepaper and summary for SEO"
@pchuck to build out issue

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavi

[2018-05-24 18:47] pelsasser commented on #94
@pcuck can you help us to understand what these tags should target so we can get this completed.

[2018-05-24 19:07] rojosnow commented on #82
Cool, it's working now.

I'll let Phil give you the feedback on the mock-up since he's the lead of that repo.

[2018-05-24 20:29] pchuck commented on #94
(renamed the issue and added descriptions of how both the image names and alt attributes can be improved)

[2018-05-24 20:38] pelsasser commented on #82
@alecwesterman - thanks for getting this to us.  I can see you pulled a lot of the ideas from the Radar Relay example and also created a lot of new content which is awesome!

I am not personally a designer, and for that reason, I passed this to our designer to okay.

He asked if we would allocate some time for him to do the mock and for you to then implement the mock that he created, does that wor

[2018-05-24 20:42] pelsasser commented on #94
@pchuck - thanks.  I am worried that if I stake this without providing those descriptions it may be hard for an outsider to do them well.  I think I will create the descriptions before posting a bounty.

[2018-05-24 20:53] pelsasser commented on #94
Dapp.tsx:              <img alt="baseToken" src={asset3} />
Dapp.tsx:              <img alt="baseToken" src={asset9} />
Dapp.tsx:              <img alt="baseToken" src={asset5} />
Dapp.tsx:            <img alt="tablet" src={tablet} width="100%" />
Footer.tsx:              <img alt="hero" src={logoImg} />
Footer.tsx:                    <img alt="telegram" src={telegram} width="80%" />
Footer.tsx:

[2018-05-24 21:16] pelsasser opened #98 "[general] punch-list from aure"
@pelsasser to decompose into issues

it's for a tool i use to share designs. taking a pass at the pages to ensure consistency. have noticed a few things
- the h2s should be work sans semi bold instead of medium. the big header at the top should be work sans bold
- changed the team page a bit to be more consistent, both in terms of design (i added a header) and spacing, the vertical height of some

[2018-05-24 21:23] pelsasser opened #99 "[makefile] implement make file to automate labeling from meta"
### User Story

I want to put all of our code into makefiles

### Why Is this Needed?

*Summary*: who doesn't love makefiles?

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature, but probably a bug to most

### Current Behavior
[comment]: # (Describe what actually happened.)
not enough `make` in my life

### Expected Behavior
[comment]: # (Describe what you expected to h

[2018-05-25 12:38] #95 closed

[2018-05-25 12:54] pelsasser opened #101 "[header] add About to header and fix issues with responsiveness"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-25 13:00] nitinrgupta commented on #101
Can remove `Telegram` from the header since we already have a Telegram popup on the bottom right?

[2018-05-25 13:06] pelsasser commented on #101
Yea, that makes sense I think.

[2018-05-25 13:50] pelsasser opened #102 "[main] Small edits to main page typography"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-25 13:55] pelsasser opened #103 "[team] Update team page and add new header and hero graphic to team page"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-25 13:57] pelsasser commented on #98
created #102 #103

[2018-05-25 14:53] arun1595 commented on #102
@pelsasser I would like to take it.

[2018-05-25 15:31] pelsasser commented on #103
Graphics available here -

https://github.com/MARKETProtocol/assets/blob/master/MockUps/MARKET_Protocol-Team-Graphics.ai

[2018-05-25 15:35] pelsasser commented on #102
Awesome @arun1595 thanks!

[2018-05-25 16:12] pelsasser commented on #96
@KennethAshley - long time no talk! glad your back ;)

[2018-05-25 16:21] pelsasser opened #104 "[travis-ci] intermittent build failures"
### Description

Recently, I think since we merged the /about page we have had intermittent issues on travis as seen below.  That commit was 4912f7909ac21dfd4ed2148a1a28ff796dd3c9d2

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)
Intermittent build failures

### Expected Behavior
[comment]: # (Describe what you expecte

[2018-05-25 17:12] #94 closed

[2018-05-25 18:10] #101 closed

[2018-05-25 18:48] #12 closed

[2018-05-25 19:44] alecwesterman commented on #82
@pelsasser Sounds great! I don't mind if the designer takes a look or even needs my image components. Implementation wise, I don't mind as long as everyone knows I'm newer to this tech stack and it will take a while.

[2018-05-25 21:30] pchuck commented on #63
per @arun1595 's run of https://seositecheckup.com/seo-audit/marketprotocol.io, a number of specific structural changes can be enumerated...

* main page contains too many H1 tags (nearly 20) and only two H2 tags. ideall,y the page should use <5 H1 to enforce major themes, with detailed content organized under H2 (and higher) sub-tags.
* site uses too many (52) inline CSS styles; investigate wheth

[2018-05-25 22:54] #96 closed

[2018-05-25 23:30] pelsasser commented on #102
From aure - @arun1595 to incorporate into PR

- [ ] on the header, line height 1.2
- [ ] on the h2s line height 1.1
- [ ] on the h2s font weight 500
- [ ] under "how we solve these issues" there
- [ ] the first paragragh is a larger font than the rest of the body copy
- [ ] the "join our newsletter" and "become a partner", etc at the bottom should also be that 500 weight

[2018-05-25 23:31] pelsasser opened #108 "[about] punchlists of item from Aure for /about"
- [x] on the header, line height 1.2
- [x] on the h2s line height 1.1
- [x] on the h2s font weight 500
- [x] in general on mobile the h1 at the top needs more margin at the top
- [x] it's bumping right into the logo
- [x] those h1s seem huge on desktop...
- [ ] h2s are inconsistent weights on this page
- [x] update timelines from update files that are available in assets [mobile](https://github.co

[2018-05-25 23:34] pelsasser opened #109 "[partners] punch list from aure for /partners page"
- [ ] not loving the placement of the illustration at the top, should be more centered horizontally in that whitespace
- [ ] h1 seems smaller here than on the about
- [ ] white boxes on partners should all be squares
- [ ] some of those logos are huge
- [ ] at the bottom, the minds behind is a heavier weight than the email us on other pages
- [ ] noticed we got rid of one module down there, from 3

[2018-05-26 04:01] nitinrgupta commented on #109
Will get this knocked out along with my `/about` page changes

[2018-05-26 04:02] nitinrgupta commented on #108
👍 Will knockout these changes.

[2018-05-26 04:21] nitinrgupta opened #110 "Add min-height for hero sections"
Setting an appropriate`min-height` for hero sections which avoids the _jerkiness_ in page load. It helps if the hero image is loading slow for some reason.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Enhancement

### Current Behavior
[comment]: # (Describe what actually happened.)
The below screenshot is how the page looks when the hero illustration takes time to load
<i

[2018-05-26 08:37] weberV commented on #4
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.25 ETH (173.03 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/4/282).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href

[2018-05-26 08:37] weberV commented on #2
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/2/286).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='

[2018-05-26 08:37] weberV commented on #6
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.08 ETH (55.37 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/6/287).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href=

[2018-05-26 08:37] weberV commented on #3
Issue Status: 1. Open 2. **Cancelled**

<hr>

__This issue now has a funding of 0.06 ETH (41.53 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/3/288).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co

[2018-05-26 08:37] weberV commented on #9
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.06 ETH (41.53 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/9/289).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href=

[2018-05-26 08:37] weberV commented on #21
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.08 ETH (55.37 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/21/305).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href

[2018-05-26 08:38] weberV commented on #24
Issue Status: 1. Open 2. **Cancelled**

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/24/337).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.c

[2018-05-26 08:38] weberV commented on #31
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.025 ETH (17.3 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/31/338).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href

[2018-05-26 08:38] weberV commented on #33
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.025 ETH (17.3 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/33/339).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href

[2018-05-26 08:38] weberV commented on #40
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.08 ETH (55.37 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/40/340).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href

[2018-05-26 08:39] weberV commented on #47
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.06 ETH (41.53 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/47/348).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href

[2018-05-26 08:39] weberV commented on #49
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.08 ETH (55.37 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/49/349).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href

[2018-05-26 08:39] weberV commented on #59
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.03 ETH (20.76 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/59/364).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href

[2018-05-26 08:39] weberV commented on #58
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.04 ETH (27.68 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/58/365).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href

[2018-05-26 08:39] weberV commented on #60
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.03 ETH (20.76 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/60/367).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href

[2018-05-26 08:39] weberV commented on #57
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.025 ETH (17.3 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/57/368).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href

[2018-05-26 08:40] weberV commented on #61
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/61/384).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href

[2018-05-26 08:40] weberV commented on #73
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.02 ETH (13.84 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/73/397).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href

[2018-05-26 17:11] arun1595 commented on #102
@pelsasser This is ready for review. Let me know if I missed something.

Thanks!

[2018-05-26 18:06] arun1595 opened #111 "First and last name fields in subscription form aren't validated properly"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a developer, I want to validate the first and last name a user enters in the subscription form.

### Description

Currently, the first and last names fields are marked required but this doesn't stop the user from entering just whitespaces to pass the validation.

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type

[2018-05-27 12:49] #102 closed

[2018-05-27 13:29] pelsasser commented on #104
@eswarasai - I reverted your changes that seemed (not positive) to be the culprit here for some of the odd travis issues going on. adc12d26b4e215e57a89bd44f5b1969e314d6699 - `npm run build` locally or after merging and adding a another commit seems to work, but otherwise we are getting a lot of hung travis runs that never resolve.

We can look into it tomorrow or Tuesday when everyone is back in t

[2018-05-27 13:41] #111 closed

[2018-05-27 13:44] pelsasser commented on #104
hmmm... maybe not.  back to the drawing board.

[2018-05-27 14:03] pelsasser commented on #104
`npm test -- --coverage`

appears it is intermittently stalling during the coverage report generation

[2018-05-27 15:39] 42piratas commented on #62
My 2 cents: rather than moving the content to the main website, prioritize the implementation of a CMS and cross-post content e.g. with Medium. Besides, as mentioned before, the CMS also could help with  the `newsletter` and `jobs` sections (/blog, /newsletters, /jobs).

That said, we must keep in mind cross-posting good practices, e.g:
https://help.medium.com/hc/en-us/articles/217991468-SEO-and-d

[2018-05-27 15:43] 42piratas commented on #10
@pelsasser I didn't get it the part *"a wordpress blog that we link to the main site"*. The wordpress could simply be an invisible part of the main website, delivering pages either as

`marketprotocol.io/article-canonical-url`
`marketprotocol.io/job-post-canonical-url`
`marketprotocol.io/newsletter-canonical-url`

or

`marketprotocol.io/blog/article-canonical-url`
`marketprotocol.io/jobs/job-post-

[2018-05-28 03:55] I3uckwheat commented on #110
I can work on this :)

[2018-05-28 11:03] eswarasai commented on #104
@pelsasser -- From what I've seen during the builds is that, somehow the tests itself takes long time to run and pass. Not really sure why that happens on the Travis server though. Locally they do run pretty quick. Probably @cryptomental might have any suggestions on how to improve the performance here.

[2018-05-28 13:12] pelsasser commented on #104
think this is solved. will know more in a few minutes

[2018-05-28 13:54] pelsasser commented on #104
I am posting these links for archival in case we run into issues again

https://facebook.github.io/jest/docs/en/troubleshooting.html#tests-are-extremely-slow-on-docker-and-or-continuous-integration-ci-server

https://github.com/facebook/jest/issues/3765

[2018-05-29 12:38] pelsasser opened #114 "[Partners] Bio pop outs need updated header font for name and title."
### Why Is this Needed?

*Summary*: Separation of name and title from bio / info about person

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
From current site
![image](https://user-images.githubusercontent.com/15096737/40659147-9f946b0e-630a-11e8-8ab9-5ab6aa9616b3.png)

### Expected Behavior
From mock
![image](https://user-images.githubusercontent.

[2018-05-29 18:40] nitinrgupta opened #115 "[Team] Add world map illustration in team page"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Add a world map illustration section with team and contributors pointing accross the map showing the _decentralized_ part of MARKET in the team

### Description

[comment]: # (Feature or Bug? i.e Type:

[2018-05-29 23:50] #92 closed

[2018-05-29 23:51] #98 closed

[2018-05-29 23:54] pelsasser commented on #97
@pchuck - any chance you can shed some light on this one so we can get it moved along?

[2018-05-30 00:32] #53 closed

[2018-05-30 00:45] pelsasser commented on #99
this actually doesn't need to be per repo!

[2018-05-30 00:45] #99 closed

[2018-05-30 18:33] #108 closed

[2018-05-30 18:33] #114 closed

[2018-05-30 19:12] #109 closed

[2018-05-30 19:12] #103 closed

[2018-05-30 19:17] pelsasser opened #117 "[SEO] Update sitemaps once changes propagate to cloudfront"

[2018-05-30 19:30] lakikentaki opened #118 "[About ] Integrate a "Learn more" action button for Engineering weekly Calls on the About page"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-30 19:33] pelsasser opened #119 "[travis-ci] automate solution for s3 deployment cleanup"
### User Story

As a dev, I would like for our s3 buckets to get cleared out prior to deplyoment of new releases for the website.

### Why Is this Needed?

*Summary*: To reduce unneeded clutter and artifacts

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Current Behavior
We have a make file command that can be used to blow away everything, but currently we have

[2018-05-30 19:47] lakikentaki opened #120 "[Partners] Add DDEX and Shark Relay as Partners on the website"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-31 04:07] arun1595 commented on #118
@pelsasser I'm on it.

[2018-05-31 04:35] arun1595 opened #122 "'The minds behind MARKET Protocol' link should not trigger a page reload"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a developer, I want any internal page links on the app to trigger a page reload.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)
Clicking on 'The minds behind MARKET Protocol' button causes a page reload.

### Expecte

[2018-05-31 14:39] lakikentaki opened #124 "[Footer] add YouTube social media icon"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-31 14:44] lakikentaki commented on #124
Update: The links are working in Chrome, but for some reason, they don't in my Firefox browser.

[2018-05-31 15:01] pelsasser commented on #124
@lakikentaki - confirmed on firefox the links do not work. - separating the functionality issue and the youtube issue now.

[2018-05-31 15:31] pelsasser opened #125 "[General] Buttons across site do not work with firefox"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-31 16:27] pelsasser commented on #124
#115 created for bug fix.

[2018-05-31 17:14] #124 closed

[2018-05-31 17:55] #125 closed

[2018-05-31 17:55] arun1595 commented on #125
@pelsasser We can close this as the issue is fixed in https://github.com/MARKETProtocol/website/commit/4643cb4155c23b7360c6709e28e58d2bebc13717

[2018-06-01 04:00] shamardy commented on #120
I want to publish the branch but it says that I have no permission.

[2018-06-01 04:10] shamardy commented on #120
I am trying to submit to a new feature branch but it says I have no permission.

[2018-06-01 04:50] nitinrgupta commented on #120
Please fork the repo and create the branch in your forked repo. Once the changes are done you can create a pull request.

[2018-06-01 16:22] shamardy commented on #120
Ok done, What to do next should I submit links on gitcoin now or wait.
Thanks.

[2018-06-01 17:14] lakikentaki opened #127 "[Press] Add Phil Elsasser's latest podcast with Pressure Cast onto our website press page"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-01 17:15] arun1595 commented on #127
@lakikentaki Let me get this done!

[2018-06-01 18:37] pelsasser commented on #120
@shamardy - thanks for getting this done and congratulations on your first PR to MARKET Protocol!

Please join our [discord](https://marketprotocol.io/discord) if you would like.  Alot of the dev community is in there chatting all things about the project.

[2018-06-01 18:37] pelsasser commented on #120
You will need to `submit work` on gitcoin in order for me to release payment!

https://gitcoin.co/issue/MARKETProtocol/website/120/541

[2018-06-01 18:38] #120 closed

[2018-06-01 18:44] #127 closed

[2018-06-04 13:46] pelsasser commented on #10
@42piratas - you probably are correct, I don't have much word press experience.

Some solutions / examples I have come across -

https://github.com/DanWebb/danwebb.co
https://react-static.js.org/docs/concepts/#using-a-cms

[2018-06-04 22:18] pelsasser opened #129 "[Blog] Integrate react-static solution for blogging"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-04 22:21] pelsasser commented on #10
@eswarasai @42piratas @rojosnow @nitinrgupta - I am going to stake #129 as see how that works out as a proposed solution unless someone thinks this is a bad way to go.

I think this is lightweight and should suffice for all of our SEO needs without a full blown CMS solution.

please let me know thoughts before I stake it.

[2018-06-04 22:25] rojosnow commented on #10
If looking at a non-Wordpress/Drupal CMS, you're in the realm of https://www.staticgen.com and https://headlesscms.org. I think it's best to look at the path of least resistance and where we could find lots of devs to work on this.

As far as URLs, TLD & subdomains are easy to manage...but we don't want to do that here due to SEO. So, once you're after the leading slash, `/` and embedding the site

[2018-06-04 22:32] pelsasser commented on #10
@rojosnow - thanks for the thoughtful response.

https://github.com/DanWebb/danwebb.co - seems like a very simple way to do this given our existing infrastructure, which is the main reason I think it is worth heading down this path.

I already attempted the cross posting with medium as a test, and it is very straightforward and our community managers could easily handle it.

[2018-06-04 23:09] pelsasser commented on #82
@alecwesterman we have a design back to implement do you still want to work on the implementation?

![market_jobs](https://user-images.githubusercontent.com/15096737/40946290-fba6f0c4-6819-11e8-936d-3287dd2030a0.png)

[2018-06-04 23:27] pelsasser commented on #82
closing - will reopen with new scope

[2018-06-04 23:27] #82 closed

[2018-06-04 23:32] pelsasser opened #130 "[Team] H1 in header not aligned with "Core Team""
### User Story

As a user something feels off with wide widths and the team page

### Why Is this Needed?

*Summary*: Alignment

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Solution
[comment]: # (Provide a summary of the solution and a task list on what needs to be fixed.)
*Summary*: @auregimon and @nitinrgupta to solve.

[2018-06-04 23:36] pelsasser opened #131 "[Jobs] implement new /jobs page"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-04 23:39] pelsasser opened #132 "[Team] fix bug - hero graphic is missing a few people from .ai file"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-05 02:48] arun1595 opened #134 "The whole lodash module is required when we're only using throttle function"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a user, I want to reduce the javascript bundle size sent to the browser.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

Currently, we're loading the whole lodas

[2018-06-05 06:15] 42piratas commented on #10
@pelsasser Unfortunately, I cannot take part in the discussion as I am familiar only with Wordpress.

That said, danwebb.co looks very nice.

[2018-06-05 09:56] nitinrgupta commented on #130
@pelsasser are you reffering to the below allignment?
![screen_shot_2018-06-05_at_3_24_56_pm](https://user-images.githubusercontent.com/4952395/40969124-bfa92982-68d4-11e8-9dce-72181b14f5e6.png)

[2018-06-05 12:14] pelsasser commented on #130
@nitinrgupta - @auregimon may be the best to respond here, but I think his concern was with
![image](https://user-images.githubusercontent.com/15096737/40975271-9c3e9c7c-6887-11e8-88d1-5a74b030b4e1.png)

"The Team"
Compared to
"Core Team"

[2018-06-05 12:18] nitinrgupta commented on #130
Yea. I kinda agree. The margins on the entire team page are improper. Need to devise a solution for it.

[2018-06-05 12:21] #134 closed

[2018-06-05 13:14] pelsasser commented on #10
one other option that is netlify CMS, it will give the ability to make edits to our non dev users as well, which is nice.

Here is an example integration with a react-static site.
https://github.com/nozzle/react-static/tree/master/examples/netlifycms

[2018-06-05 13:49] #122 closed

[2018-06-06 14:22] pchuck commented on #97
* set the title attribute in the PDF (usu. under 'Document Properties' when editing the document). This is an opportunity to provide not only the precise "MARKET Protocol Whitepaper" title, but also a subtitle that targets a few key terms.

* Link to the MARKET Protocol main site when mentioned in the opening paragraph. Could also use a few additional key links, sparingly, such as to the dApp and

[2018-06-06 14:27] pchuck commented on #97
Found a few additional recommendations here: https://moz.com/ugc/how-to-optimize-pdf-documents-for-search

* set the 'Author' field in the PDF attributes to "MARKET Protocol"
* fill out all available document attributes (e.g. view "Additional Metadata" if authoring in Acrobat)
* write-protect the document
* make available an HTML version of the document on the marketprotocol.io site

[2018-06-06 15:50] pelsasser opened #136 "[Blog] Integrate netlify CMS and create new blog for our static site."
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-06 18:32] #119 closed

[2018-06-06 18:34] pelsasser commented on #129
closing for #136

[2018-06-06 18:34] #129 closed

[2018-06-06 18:35] pelsasser commented on #10
closing for #136

[2018-06-06 18:35] #10 closed

[2018-06-06 20:53] pelsasser commented on #97
- [x] set the title attribute in the PDF (usu. under 'Document Properties' when editing the document). This is an opportunity to provide not only the precise "MARKET Protocol Whitepaper" title, but also a subtitle that targets a few key terms.
- [x] Link to the MARKET Protocol main site when mentioned in the opening paragraph.
- [ ] Could also use a few additional key links, sparingly, such as to

[2018-06-06 20:54] pelsasser commented on #97
@pchuck these changes just got deployed to prod - will keep the others in mind.

[2018-06-07 00:48] darkdarkdragon commented on #61
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.04 ETH (27.68 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/61/659).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href

[2018-06-07 00:52] darkdarkdragon commented on #122
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.001 ETH (0.69 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/website/122/742).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a hre

[2018-06-07 14:56] pelsasser commented on #136
@bradysheridan sounds great.  please reach out with questions here or in marketprotocol.io/discord in #engineering channel

[2018-06-07 18:35] pelsasser opened #137 "[Whitepaper] Create html version of white paper using react-static"
### User Story

As a crypto enthusiast I want to be able to find MARKET Protocol in search engines.

### Why Is this Needed?

*Summary*: SEO improvements from content in white paper.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Current Behavior
[comment]: # (Describe what actually happened.)
white paper is only available as a .pdf

### Expected Behavior
[comm

[2018-06-08 12:41] pelsasser commented on #137
Thanks @davidbanu for your interest in the project, going to let @iamonuwa take first stab at this since he applied first.

@iamonuwa FYI - white paper is available here
https://marketprotocol.io/assets/MARKET_Protocol-Whitepaper.pdf

I believe it will help if we also add nice `alt` tags to the images.

[2018-06-08 20:21] pelsasser commented on #136
@bradysheridan - how is the progress on this coming? need any feedback?

[2018-06-08 20:44] bradysheridan commented on #136
@pelsasser - I've been working through the Netlify CMS API and am hoping to have it all ironed out by tonight. Also, I just finished up the blog mockup, which you can see ![here](https://user-images.githubusercontent.com/12404896/41180051-7e5cf0a2-6b32-11e8-9fc4-cd0c82d144b0.png). I'd love to get some design feedback--I'm planning on starting the design implementation tomorrow afternoon!

[2018-06-08 20:52] bradysheridan commented on #136
Additionally, just FYI, I'll write up a doc at the end of this project detailing how the CMS works, suggesting how it might fit into your current deployment process, describing how to add users, etc. Afterward, if you've found there are confusion points that I didn't touch on, just let me know and I can update the doc.

[2018-06-08 20:59] pelsasser commented on #136
@bradysheridan thanks for the update!

I am personally not the best to ask about design, I think eventually we will have our designer @auregimon go over these pages

Maybe he can add a few comments to get is close and once in place we can fine tune it.

Things that I can say

- The layout of the blog page.
  - any thoughts about bringing it closer in line with the [exmaple](https://danwebb.co/jour

[2018-06-08 21:29] bradysheridan commented on #136
@pelsasser
1. If you like the horizontal nature of the post previews in the example you linked, I can create something in that style (maybe similar to the "Latest" post from this mockup), and then use a static graphic or header text at the top, as you suggested. Let me know if you have any graphics or copy in particular that you'd like to use.
2. Categories look/feel great! I'll add em in.
3. I'll

[2018-06-08 21:42] pelsasser commented on #136
1.  I don't have any new art yet, will put something in motion for that, but even pulling the hero from the main page or perhaps the assets/images/about/protocol.svg as something simple for now is fine.  Not sure on copy yet, you can either just use "Welcome to our blog" or some lorem ipsum and I can update before it is live.
2. Thanks!
3. :+1:

[2018-06-09 14:54] iamonuwa commented on #137
@pelsasser thank you, I've started work already

[2018-06-09 18:00] bradysheridan commented on #136
@pelsasser Do you like this?
<img width="800" alt="screen shot 2018-06-09 at 12 59 45 pm" src="https://user-images.githubusercontent.com/12404896/41194668-080110b0-6be5-11e8-8b97-02c9d3f02d23.png">

[2018-06-10 02:15] bradysheridan commented on #136
@pelsasser Check out the current blog [here](https://market-protocol.netlify.com/blog)! I'm pretty happy with where it's at. The next steps are to add a couple small things I have yet to get to, write test code, write documentation, implement any design feedback you have, and transfer the Netlify CMS app over to you. I'll have everything but the last two points done tomorrow night.

Things I need

[2018-06-10 13:38] pelsasser commented on #136
1. Dont worry about copy and art, we can update later.  art may take a bit to get my hands on.
2. Definitely closer!
  - can we add a CTA to join the email list near the categories? (see screenshot below)
  - How will it look when we have 30 posts per category, are those split into multiple pages with some sort of nav bar at the bottom
  - Can you refer back to the style guide and make sure to sel

[2018-06-10 17:44] bradysheridan commented on #136
1. Sounds good
2. Hooray!
2.1 Definitely
2.2 I'll add a 'Show more' button to posts so as not to show more than, say, 10 posts on page load
2.3 I'm concerned that those colors don't really work, aside from Mint and Red. Could your designer possibly designate some category colors that will work well with the current color scheme? I'm referring to [these colors](https://user-images.githubusercontent

[2018-06-11 00:07] bradysheridan commented on #136
@pelsasser See PR [#138](https://github.com/MARKETProtocol/website/pull/138).

[2018-06-11 12:31] pelsasser commented on #136
@bradysheridan - thanks!

Re: colors, yes we can ask him for some help there as well, for now we can leave it as is.  Will take a look at the PR today ;)

[2018-06-13 17:30] #136 closed

[2018-06-13 17:46] pelsasser commented on #136
@bradysheridan - thanks for the help here!  if you `submit work` on gitcoin I will get this paid out!

[2018-06-13 18:26] pelsasser opened #140 "[Blog] Implement new design to existing netlifyCMS /blog page"
![market blog](https://user-images.githubusercontent.com/4952395/41371616-88e2cca6-6f68-11e8-8a8f-65fcad9dddd1.png)

## Gitcoin Bounty Hunters ##
Please only consider picking up this issue if you have extensive experience with react-static and feel confident that you are able to implement the designs with a high fidelity to the provided assets. Additionally, responsiveness of the implementation is

[2018-06-13 18:28] pelsasser opened #141 "[Blog] Implement new design to existing netlifyCMS /blog posts"
![market blog detail](https://user-images.githubusercontent.com/4952395/41371652-a6c0bf62-6f68-11e8-97a5-fa9357186d53.png)

## Gitcoin Bounty Hunters ##
Please only consider picking up this issue if you have extensive experience with react-static and feel confident that you are able to implement the designs with a high fidelity to the provided assets. Additionally, responsiveness of the implementa

[2018-06-13 19:18] pelsasser opened #142 "[Blog] Implement OAuth server for netlifyCMS admin panel access via github."
### User Story
As a non technical user I would like to be able to post blog posts without needing to use git / markdown / etc.

### Why Is this Needed?
*Summary*: To facilitate community management teams work

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Solution
[comment]: # (Provide a summary of the solution and a task list on what needs to be fixed.)
*Summa

[2018-06-13 21:03] #142 closed

[2018-06-13 22:16] pelsasser commented on #140
@hbeckeri sounds good.  Looking forward to working with you.  Please let us know a timeline for the work and if you have any questions a good place to interact with us is on [discord](https://marketprotocol.io/discord) in the #engineering channel

[2018-06-13 22:17] pelsasser commented on #140
@palevoo - thanks for the interest!  @hbeckeri just beat you to it ;)

[2018-06-13 22:56] hbeckeri commented on #140
@pelsasser likely within 48 hours

[2018-06-14 02:33] hbeckeri commented on #140
@pelsasser Letting you know that I am stopping work.

[2018-06-14 02:48] pelsasser commented on #140
Sorry to hear that.  Can I inquire as to why? Would be helpful for us going forward as we incorporate more gitcoiners.

[2018-06-14 12:30] #137 closed

[2018-06-14 13:42] pelsasser opened #144 "[Whitepaper] Update white paper with missing team and advisors from /team page"
### Why Is this Needed?
*Summary*: Consistency

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
/team and /whitepaper do not match.  We have added advisors and team members!

### Expected Behavior
All new people added to /whitepaper

### Definition of Done

- [ ] Match /team to /whitepaper for all new people
- [ ] Update / write test for all new code

[2018-06-14 13:49] iamonuwa commented on #144
@pelsasser, I'll need bio information for Rob Behnke and Kevin Owocki

[2018-06-14 13:53] pelsasser commented on #144
@lakikentaki - can you please facilitate the need bios for these two?

@iamonuwa - you can just stick some fake text in until we get them.

[2018-06-14 13:54] iamonuwa commented on #144
Will do @pelsasser

[2018-06-14 15:05] hbeckeri commented on #140
@pelsasser The main reason was that after starting, I realized the complexity of the issue was bigger than I thought. In hindsight I would have liked to see two issues, one for the ui work and another for wiring up real data and interactions (ie. listing blogs, subscribing, category selecting/filtering). Once I realized that the blogs weren't already wired up to the CRM I stopped. I figured it wou

[2018-06-14 15:15] eswarasai commented on #140
@hbeckeri -- Thanks for the feedback. Really appreciate it. I'll let @pelsasser confirm on the above suggested plan but this sounds good to me :)

[2018-06-14 17:45] hbeckeri commented on #140
@pelsasser I guess I didn't realize that the posts were generated and the CMS is already fully implemented. I'll continue work on the UI side of things, including category filtering since it already exists, and create an issue for the data fetching of recent tweets, loading more blogs, and interactions with subscriptions / sign-up.

[2018-06-14 18:03] hbeckeri opened #146 "[Blog] Implement data fetching and interactions to existing /blog page"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-15 01:34] lakikentaki commented on #144
Kevin Owocki:

Kevin Owocki is the founder of Gitcoin.co.  He is a software engineer interested in hacking, learning, and writing about the intersection of next-generation technologies, especially machine learning, computer vision, VR, AR, & plenoptic photography.  He has a BS in Computer Science, 10 years of engineering leadership experience in startups and Open Source Software.  He also is a com

[2018-06-15 06:33] iamonuwa commented on #144
@lakikentaki, I'll update this. Thank you

[2018-06-15 12:34] #144 closed

[2018-06-15 12:42] pelsasser opened #149 "[Testing] Help bring testing percentage up across site"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-15 14:46] StevenJNPearce commented on #149
I'm on it.

[2018-06-16 21:14] #131 closed

[2018-06-16 21:16] pelsasser opened #151 "[Jobs] Issue with some widths and responsiveness"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
![image](https://user-images.githubusercontent.com/15096737/41502480-10d5be14-7178-11e8-9bcb-c0c3ef040ff6.png)

### Current Behavior
Screenshot taken at 1232

### Expected Behavior
All boxes are same size at all resolutions

### Reproduction
Looks like it happens with widths b/w 1200-1300

[2018-06-16 21:28] iamonuwa commented on #151
@pelsasser can I work on this?

[2018-06-16 21:30] pelsasser commented on #151
sure! thanks @iamonuwa!

[2018-06-16 21:31] iamonuwa commented on #151
Awesome. Thank you

[2018-06-17 14:09] pelsasser commented on #140
How is this coming along @hbeckeri - need any feedback or have any questions?

[2018-06-17 14:19] hbeckeri commented on #140
@pelsasser only test cases left to make. I'd imagine you should see a PR today

[2018-06-17 23:20] lakikentaki opened #154 "[Tag Manager] Install Google Tag Manager"
### User Story

As a Google Analytics admin, I want to be able to track conversions and tags using a tool called "Google Tag Manager"

### Why Is this Needed?
*Summary*: This is needed for higher level performance on our social media.

### Description
*Type*: Feature

### Current Behavior
The "Google Tag Manager" is not installed on our website.

### Expected Behavior
The "Google Tag Manager" is i

[2018-06-18 11:44] #151 closed

[2018-06-18 12:11] pelsasser opened #155 "[Cloudfront] Issues with cache, invalidation and release process"
### Description

*Type*:  Bug

It appears with the current cloudfront set up that it is possible for us to push an update to the s3 bucket (which now also clears out all the old objects) and have some mismatches in references to old and new objects in cached cloudfront versions.

This leads to a period where the new objects haven't been fully propagated, and there can be errors such as these.

![i

[2018-06-18 12:11] pelsasser commented on #155
cc @arun1595

[2018-06-18 13:52] pelsasser commented on #155
s/b fixed in 427bf3e3892939a87d9cde712de16b34f6a5f59

[2018-06-18 13:53] #155 closed

[2018-06-18 19:41] vs77bb commented on #141
@pelsasser @palevoo Snoozing Gitcoin Bot for 5 days here... hope all is well 🙂

[2018-06-19 16:39] pelsasser opened #157 "[General] site changes from feedback of Marketing firm"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-19 16:41] pelsasser commented on #157
cc @KennethAshley - LMK if you have questions on any of this.

[2018-06-19 16:46] KennethAshley commented on #157
@pelsasser Looks pretty straightforward. I should be able to start on this today. Thanks!

[2018-06-19 17:02] pelsasser commented on #157
Can we also add to the Subscribe modal

[2018-06-20 00:11] eswarasai opened #158 "[Blog] Categories filter UI/UX"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-20 12:38] #132 closed

[2018-06-20 12:39] pelsasser commented on #132
thanks @bakaoh - released funding!
Glad to have you working with us again.

[2018-06-21 12:38] eswarasai commented on #158
@KennethAshley -- This is the latest Blog design actually. So you might wanna redo the UI/UX accordingly -- https://github.com/MARKETProtocol/website/issues/140

But yeah, highlighting the selected category and giving a close icon for the selected category to clear is looking good. The only concern is that, in the latest design, the behaviour of the page is a little twitchy upon selecting a catego

[2018-06-21 17:18] #141 closed

[2018-06-21 18:10] KennethAshley commented on #158
Ill take a stab at this with the updated styles!

[2018-06-21 22:52] #140 closed

[2018-06-22 01:33] StevenJNPearce commented on #149
#160

[2018-06-22 01:42] pelsasser commented on #149
@StevenJNPearce - awesome, this is great!

[2018-06-22 01:44] pelsasser commented on #149
@StevenJNPearce if you go ahead and submit work on gitcoin I will get this paid out! thanks for all your help!

[2018-06-22 12:36] #149 closed

[2018-06-22 13:40] #97 closed

[2018-06-22 18:02] ceresstation commented on #146
Hey @hbeckeri I think some of this may have been implemented at this point. Are you able to double check and update the issue accordingly?

[2018-06-22 18:34] hbeckeri commented on #146
@ceresstation I've updated the issue

[2018-06-22 19:47] #157 closed

[2018-06-22 20:02] pelsasser commented on #146
@ceresstation - going to close this and open specific issues on the specific tasks.

@hbeckeri - thanks for your help here!

[2018-06-22 20:06] pelsasser opened #161 "[Blog] Recent Tweets Widget"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-22 20:06] pelsasser commented on #161
@KennethAshley - working on this one.

[2018-06-22 20:07] #146 closed

[2018-06-22 20:11] pelsasser opened #162 "[Blog] Link to post"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-22 20:14] pelsasser opened #163 "[Blog] Load More Button should only appear when there is more to load"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-22 20:15] pelsasser commented on #157
thanks @KennethAshley and @nitinrgupta for all the help and coordination here!

[2018-06-22 20:18] pelsasser opened #164 "[Blog] Header images on posts should scale to size rather than being cropped"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-24 18:49] nitinrgupta opened #165 "[Blog] Use react-static Link component to redirect blog posts"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user I want to navigate to different blog posts without reloading the entire page.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Go to `/blog` page and click o

[2018-06-25 12:07] pelsasser commented on #161
@KennethAshley - any status update on this one? thanks!

[2018-06-25 12:22] KennethAshley commented on #161
Yea! Gonna hop on this is today!

[2018-06-25 13:23] pelsasser commented on #165
@dilatebrave - sounds great,  gitcoin is broken, so I cannot approve on their site, but you are approved!

[2018-06-25 13:47] pelsasser commented on #163
@iamonuwa - approved!

[2018-06-25 16:50] KennethAshley commented on #158
@eswarasai @pelsasser here are the updated designs. Maybe we can add some background images to the right of the copy in the hero element

![blog](https://user-images.githubusercontent.com/1138619/41863944-49d8dc8c-7876-11e8-8300-0b33ceedc8f7.png)

[2018-06-25 20:41] rpunkfu commented on #164
@pelsasser I've fixed it, attached GIF for ya, let me know what ya think :)

[2018-06-25 20:48] KennethAshley commented on #161
@pelsasser @eswarasai here is a worked around as suggested. Its a twitter embed but i think it looks nice. What do you guys think?

![image](https://user-images.githubusercontent.com/1138619/41874990-82f02da6-7897-11e8-82ba-42e5ba0b5811.png)

[2018-06-26 02:51] octavioamu commented on #164
@pelsasser Sorry I think I made a confusion and my message from gitcoin didn't comes here, anyway I submitted my PR with my solution because already done it.

[2018-06-26 17:35] pelsasser commented on #164
I didn't realize that the PR from @rpunkfu got merged, I can pay everyone out the full amount if that is better.  Please LMK thoughts on this, want everyone to walk away happy, and willing to keep hacking on our project.

[2018-06-26 17:56] octavioamu commented on #164
@pelsasser For me is ok what ever you decide. I already know there were people before me, but was an opportunity to start working with gitcoin and my solution was different (without touching the html) so I risk and applied.
I will waiting for the next issues :). Thanks!

[2018-06-26 18:40] pelsasser commented on #158
@KennethAshley - I like the general idea, maybe for the sake of ease and time we can just have the `Blog` hero and then a sub text with the category? any thoughts on being able to link to a URL that is pre-filtered?
 marketprotocol.io/blog/category=crashcourse

[2018-06-26 18:43] KennethAshley commented on #158
@pelsasser Yea i think having the title `Blog` and the category below is a good idea. Yea i can pre-filter the results from the url. that shouldn't' be too difficult.

[2018-06-26 18:46] pelsasser commented on #158
cool, I am hoping we can get the blog rolled out this week, what do you
think your timeline on this is roughly?

On Tue, Jun 26, 2018 at 12:44 PM, Kenneth Ashley <notifications@github.com>
wrote:

--
Phil Elsasser
CTO and Co-Founder

marketprotocol.io
<http://www.marketprotocol.io>
Join Our Telegram Community <https://t.me/Market_Protocol_Chat>

[2018-06-26 18:48] KennethAshley commented on #158
Yea i can get the items above knocked out between today and tomorrow. are
there any other outstanding issues on the blog?

On Tue, Jun 26, 2018 at 2:46 PM Phil Elsasser <notifications@github.com>
wrote:

[2018-06-26 19:10] lakikentaki opened #172 "[Partners] Add Bluzelle to the website partners page!"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-26 19:55] #172 closed

[2018-06-26 20:11] rpunkfu commented on #164
@pelsasser I'm fine with whatever you decide, happy to help :)

[2018-06-26 22:21] pelsasser commented on #154
@eswarasai - do you mind taking this on, I know your the one that set up the GA tags to begin with.  Marketing firm needs some help in getting this running.

Some resources -
https://developers.google.com/tag-manager/quickstart
https://www.npmjs.com/package/react-google-tag-manager

[2018-06-26 22:46] pelsasser commented on #164
Really appreciate everyone here, tips issues, funding released.  Time to tackle some more issues!

[2018-06-27 00:55] pelsasser opened #176 "[Blog] Migrate existing content from medium into CMS"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-27 00:55] pelsasser commented on #176
@arun1595 please let me know if you have any questions

[2018-06-27 16:12] #165 closed

[2018-06-27 16:13] eswarasai commented on #165
@dilatebrave -- Apologies for the delay in the closing this issue. Thanks for tackling this for us.

@pelsasser -- This is good to be paid out.

[2018-06-27 20:26] lakikentaki opened #177 "[Press] Add Crypto Ninjas article to the website press page!"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-27 21:20] lakikentaki commented on #154
@eswarasai we can also do the same for https://dev.website.marketprotocol.io

Head:
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'sc

[2018-06-28 13:50] eswarasai commented on #154
@lakikentaki -- Let me know if I can close this issue once you've tested the changes. Thanks!

[2018-06-28 14:44] pelsasser commented on #176
@arun1595 - how is the progress, any questions?

[2018-06-28 17:11] lakikentaki commented on #154
@eswarasai I will sync back with Jim to see how exactly can we test this out and confirm when done.

[2018-06-28 18:58] pelsasser opened #179 "production build doesn't display site"
e527bfe9df0273f70b4092802b9f84e42a8ad00e is the last functioning commit - just ran [travis on that build ](https://travis-ci.org/MARKETProtocol/website/builds/397422469) and it is the last working checkpoint.

I fixed the issues with the new travis scripts around coverage and `maxWorkers` but the deployed site doesn't display with the recent GTM commits it seems.

Also tested deploying from my loc

[2018-06-29 12:43] #177 closed

[2018-06-29 13:19] #179 closed

[2018-06-30 04:16] arun1595 commented on #176
@pelsasser I have submitted a [PR](https://github.com/MARKETProtocol/website/pull/180), check it out when you get a chance!

[2018-07-01 14:10] #163 closed

[2018-07-03 00:58] KennethAshley commented on #162
Is this already completed?

[2018-07-03 01:08] KennethAshley commented on #130
All it might take is to center the titles. What do you guys think?

![screencapture-localhost-3000-team-2018-07-02-21_04_27](https://user-images.githubusercontent.com/1138619/42193319-e6934484-7e3b-11e8-9c94-9dba9c21a612.png)

[2018-07-03 16:45] pelsasser commented on #162
Looks like it!

[2018-07-03 16:45] #162 closed

[2018-07-03 16:50] pelsasser opened #181 "[About] Add button to Engineering Weekly section to add to Google Calendar"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-07-03 17:19] #161 closed

[2018-07-03 22:59] #176 closed

[2018-07-04 16:30] KennethAshley commented on #181
Just for clarification we want to add an "Add to Calendar" on the about page in the "Engineering Weekly" section?

[2018-07-04 17:57] pelsasser commented on #181
yup

[2018-07-05 19:56] eswarasai opened #184 "[Blog] Implement Load More functionality"
### Description
Currently the `Load More` button isn't loading the Blog posts in a paginated manner

*Type*: Feature

### Definition of Done
- [ ] Load blog posts paginated via `Load More` button

[2018-07-05 19:56] eswarasai commented on #184
@KennethAshley -- Keeping track of the issue here.

cc: @pelsasser

[2018-07-05 23:08] #181 closed

[2018-07-05 23:16] KennethAshley commented on #184
@eswarasai when hitting the load more button, do we want to add more posts to the existing ones? or replace the existing ones with new content?

[2018-07-05 23:18] pelsasser commented on #184
Add more post tiles, existing ones stay please.

[2018-07-07 15:41] lakikentaki opened #187 "[Press] Add the 4 latest press releases about partnership with Kleros to website press page"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-07-07 16:54] arun1595 commented on #187
@lakikentaki I'm on it.

[2018-07-09 13:17] #184 closed

[2018-07-09 17:00] #187 closed

[2018-07-09 18:19] eswarasai opened #190 "[Blog] UI/UX Issues"
### Description
*Type*: Bug

 - [ ] Article Header image should be responsive -- http://dev.website.marketprotocol.io/blog/post/how-market-protocol-differs-from-traditional-derivatives-exchanges
<img width="1137" alt="screen shot 2018-07-09 at 11 36 57 pm" src="https://user-images.githubusercontent.com/5172086/42468002-2ae9980a-83d1-11e8-8dcf-e6e3c586c07b.png">

- [ ] Should be able to load filter

[2018-07-09 19:06] travisdmathis opened #191 "[team] Add new team members to team page"
### Why Is this Needed?

We have added two new team members.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:  Feature

### Solution
[comment]: # (Provide a summary of the solution and a task list on what needs to be fixed.)
*Summary*:
Add the following team members to the team page.:

Travis Mathis
-  linkedin: https://www.linkedin.com/in/travis-mathis-43443b16/,
-  github:

[2018-07-10 01:22] #154 closed

[2018-07-10 05:01] KennethAshley opened #193 "[Mobile] Overall site issues"
### User Story
- [ ] As a user, I want to see the mobile header menu above the content. (fix z-index)

Example:
![image](https://cdn.discordapp.com/attachments/424805354547970049/466083662052720670/image.png)

- [ ] As a user, I don't want to see the "Try out our demo dApp" button above the header.
Example:

![image](https://cdn.discordapp.com/attachments/424805354547970049/466083676028141569/imag

[2018-07-10 07:04] iamonuwa commented on #191
@pelsasser @travisdmathis  am available to pick this task

[2018-07-10 11:16] pelsasser commented on #193
yes

Interestingly - http://dev.website.marketprotocol.io/ looks more or less fine right now on my browser at a mobile width.  I will test from my phone and report back

[2018-07-10 11:18] pelsasser commented on #193
same issues with http://dev.website.marketprotocol.io/  when viewed on an iphone.

[2018-07-10 11:23] pelsasser commented on #191
@iamonuwa - thanks! @nitinrgupta can you provide an headshot?

[2018-07-10 11:59] nitinrgupta commented on #191
@iamonuwa here you go
![cki_5278](https://user-images.githubusercontent.com/4952395/42508573-9d202322-8466-11e8-92ff-a73d534c3771.jpg)

[2018-07-10 12:20] iamonuwa commented on #191
@pelsasser @travisdmathis @nitinrgupta please can I get bio about this profile?

[2018-07-11 19:57] #190 closed

[2018-07-11 20:37] #193 closed

[2018-07-11 21:36] #158 closed

[2018-07-11 21:39] lakikentaki opened #195 "[Blog] Make the needed changes in the way content is displayed for an expected UX on Mozilla Firefox"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-07-16 18:16] travisdmathis commented on #191
Bio:
Travis Mathis is a software developer from Burlington, VT.  He's comes from a web 2.0 development background and has owned and operated several startups. He has over 10 years experience in software engineering and has worked on numerous projects as a contractor, freelancer, and team member.

[2018-07-16 18:21] iamonuwa commented on #191
Thanks guys

[2018-07-18 20:45] pelsasser opened #201 "Create Pre-Sale Interest form"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-07-19 14:48] eswarasai commented on #93
@KennethAshley -- Let us know the status on this one. Thanks!

[2018-07-19 14:56] pelsasser commented on #191
@iamonuwa - how is this coming?

[2018-07-19 14:56] KennethAshley commented on #93
@eswarasai Working on it now! Do we have the posts will also be markdown right?

[2018-07-19 15:13] iamonuwa commented on #191
On it @pelsasser

[2018-07-19 15:40] eswarasai commented on #93
Yep. That's correct. So there'd be a bit of initial migration work to convert the posts to markdown.

[2018-07-19 15:56] #191 closed

[2018-07-20 14:05] iamonuwa commented on #201
@pelsasser is the mailchimp ready, if yes what are the form names?

[2018-07-20 14:41] lakikentaki commented on #201
The mailchimp form has been made, it's called Presale. Do you have access to view and edit @iamonuwa?

[2018-07-20 14:43] pelsasser commented on #201
@lakikentaki - @iamonuwa doesn't have access, and shouldn't need access.  Maybe you guys can connect on discord, he just needs some of the names and fields so he can create the needed entries from the site.

[2018-07-20 14:56] lakikentaki commented on #201
@pelsasser oh, ok, I will continue the discussion with him on discord about it.

[2018-07-20 19:33] lakikentaki opened #203 "[Blog] Create captions and photo card for each article for external sharing engagement"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

As a user on Reddit, Facebook, Discord or any other social media, I want to have a preview of the article that is shared in a way that is similar to the shared publications from medium.com

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current sta

[2018-07-20 19:34] lakikentaki commented on #203
@nitinrgupta I hope I was able to describe it properly, let me know if I need to do anything on my end to make this possible.

[2018-07-23 16:51] eswarasai commented on #130
@KennethAshley -- Can you quickly create a PR for this one? Looks like this one's been long pending and a piece of cake for you. Thanks!

[2018-07-23 18:13] KennethAshley commented on #130
Yea!

On Mon, Jul 23, 2018 at 12:51 PM Eswara Sai <notifications@github.com>
wrote:

[2018-07-24 17:59] pelsasser opened #207 "[Blog] remove links to medium"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-07-24 18:00] pelsasser commented on #207
@KennethAshley - any interest in picking this one up?

[2018-07-24 18:29] KennethAshley commented on #207
@pelsasser For sure. I'll get this done.

[2018-07-24 18:45] pelsasser opened #208 "Create link to zenhub board from site"
This is a great first contributor issue.  We need to create a link from https://marketprotocol.io/board to
https://app.zenhub.com/workspace/o/marketprotocol/market.js/boards?repos=140627375,128025988,130496585,117898415,119072718,116695875,130494562,131598556,108304540,127038994,141709662,135627327,129016888

The link will replace `Check out open issues on GitHub` on the https://marketprotocol.io/

[2018-07-25 01:58] KennethAshley commented on #207
@pelsasser could you pinpoint where exactly on the blog we are linking to medium? All i see is medium in the 'follow us' section of the sidebar.

[2018-07-25 12:02] pelsasser commented on #207
@KennethAshley - do a quick search for `medium_link`

We can leave it in the blog posts that are already created, but need to remove it from everywhere else

public/admin/config.yml
and
![image](https://user-images.githubusercontent.com/15096737/43199748-485d8fa8-8fd0-11e8-82d5-d1b2022ca5a1.png)

[2018-07-25 23:51] #207 closed

[2018-07-26 00:41] KennethAshley opened #210 "Bug: history is undefined on blog page"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-07-30 15:43] #130 closed

[2018-07-30 15:57] rojosnow commented on #210
@KennethAshley Hi! Any update on this issue?

[2018-07-30 20:47] KennethAshley commented on #210
@rojosnow fixing this now!

[2018-07-30 21:38] KennethAshley commented on #210
This seems to be fixed. http://dev.website.marketprotocol.io/blog/ seems to be working correctly.

[2018-07-30 22:04] rojosnow commented on #210
@KennethAshley What about on production? I'm not sure which environment @pelsasser saw this one.

[2018-07-30 22:06] eswarasai commented on #210
@KennethAshley -- I can still reproduce the issue on my end at http://dev.website.marketprotocol.io/blog/. Can you double check on incognito as well once?

[2018-07-31 06:10] rojosnow commented on #93
@eswarasai Let's get an estimate on this issue, thanks!

[2018-07-31 16:39] nitinrgupta opened #213 "Fix centre align on header texts which isn't necessary"
[comment]: # (Provide a summary of the solution and a task list on what needs to be fixed.)
*Summary*:
Header texts on few areas don't require center align.

<img width="598" alt="screen shot 2018-07-31 at 10 06 02 pm" src="https://user-images.githubusercontent.com/4952395/43473564-2385e73c-950e-11e8-9ae5-518d53be5f24.png">

<img width="610" alt="screen shot 2018-07-31 at 10 05 58 pm" src="https:/

[2018-07-31 18:02] #213 closed

[2018-07-31 18:10] nitinrgupta opened #214 "Fix the hero graphic issue in partners page"
### Summary
Fix the hero graphic overlaying on top of the navbar.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)
<img width="1594" alt="screen shot 2018-07-31 at 11 34 05 pm" src="https://user-images.githubusercontent.com/4952395/43478047-7157f4c6-951a-11e8-8693-1e325f9405f3.png">

### Reproduction
[c

[2018-08-01 15:14] lakikentaki opened #215 "[Jobs] Create a new job listing for the position of Community Growth Manager"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-08-01 18:06] #210 closed

[2018-08-02 06:25] #208 closed

[2018-08-06 16:01] rojosnow commented on #215
@arun1595 How are you doing here? We'd like to get this posted asap! Thanks!

[2018-08-07 00:00] lakikentaki commented on #214
Is this issue solved?

[2018-08-07 07:10] rojosnow commented on #201
@eswarasai @nitinrgupta Do you want to leave this issue in Code Review?

[2018-08-07 09:10] eswarasai commented on #201
@rojosnow -- I'll close this by creating a branch and merging the PR onto that branch so that me and @nitinrgupta can work on top of that branch. Thanks!

[2018-08-07 14:49] nitinrgupta commented on #215
@arun1595 grabbing this in the interest of putting it out there quickly

cc: @rojosnow

[2018-08-07 14:51] rojosnow commented on #214
@nitinrgupta Would you take this one and review the PR. I'd like to get this deployed asap. Thanks!

[2018-08-07 14:53] rojosnow commented on #203
@nitinrgupta Would you take a look at this PR? Thanks!

[2018-08-07 14:57] nitinrgupta commented on #214
@rojosnow reviewed already :)

[2018-08-07 15:04] #215 closed

[2018-08-07 21:01] rojosnow opened #218 "[whitepaper] Web version of white paper has incorrect scenario (1-3) graphics"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a website user, I want the web version of the white paper to have accurate scenario graphics so that I understand how a MARKET contract works.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what

[2018-08-07 21:02] rojosnow commented on #218
@nitinrgupta I'm going to assign this one to you.

cc: @eswarasai

[2018-08-08 05:26] rojosnow commented on #215
@nitinrgupta Thanks for getting on this!

[2018-08-08 06:16] rojosnow commented on #110
@meghanasarikonda Let me know if you have any questions on this issue. Thanks!

[2018-08-08 11:35] meghanasarikonda commented on #110
Sure, will ask them on discord!

[2018-08-08 12:26] #218 closed

[2018-08-08 16:31] lakikentaki commented on #203
Please let me know as soon as this is ready to be live on the main site. Thank you!

[2018-08-08 16:33] lakikentaki commented on #201
Is this going to be up with the next release of the website? I propose that it goes live along with the issue  #203

[2018-08-09 04:53] rojosnow commented on #201
@nitinrgupta @eswarasai Do you guys want to create a new issue to handle the remaining work to be completed? This probably needs to be closed out since it's a bit confusing.

[2018-08-09 13:31] #62 closed

[2018-08-09 13:31] #63 closed

[2018-08-09 14:22] eswarasai commented on #201
@rojosnow -- I've created a new PR and we're going to track the status of the PR via this issue for the ease of things rather than having new one opened.

[2018-08-10 04:55] #203 closed

[2018-08-10 04:56] eswarasai commented on #203
@rojosnow -- This is good to be paid out.

@bakaoh -- Thanks for taking care of this one. I've verified things were working with the `build`, so it's fine even if it doesn't for local dev env.

[2018-08-10 05:03] #93 closed

[2018-08-11 00:13] meghanasarikonda commented on #110
@rojosnow Just submitted a PR! review it. Thanks!

[2018-08-12 12:47] rojosnow commented on #110
@meghanasarikonda Thanks! @nitinrgupta and @eswarasai have been at ETHIndia this weekend and will review the PR on Monday. Thanks!

[2018-08-13 06:16] meghanasarikonda commented on #110
Sure, no worries!

On Sun, Aug 12, 2018 at 6:17 PM, Robert Jordan <notifications@github.com>
wrote:

[2018-08-13 15:43] pelsasser commented on #110
TODO: deploy to sanbox to test!

[2018-08-13 19:27] pelsasser opened #228 "[Bug] Issues with press page"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-08-14 09:03] nitinrgupta opened #230 "Increase the base grid margins"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Increase the base margins on navbar, footer, other relevant text areas

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: UI enhancement

### Current Behavior
[comment]: # (Describe

[2018-08-14 14:55] pelsasser opened #231 "Integrate explainer video into home page of site."
### User Story
As a visitor to the site I want to quickly and easily find the explainer video

### Why Is this Needed?
*Summary*: Easy explanation and first introduction to what we are doing

### Description
*Type*: Feature

### Solution
*Summary*: Design and insert video into main page of site.

[2018-08-14 14:56] pelsasser commented on #231
@nitinrgupta - can you interact with Aure to find the best place to stick the new video.  I can send you the link to the video in discord.

[2018-08-15 12:54] pelsasser opened #233 "[Blog] preview of blog posts don't render markdown correctly."
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-08-16 13:04] nitinrgupta commented on #231
@pelsasser I'll go ahead with this one?
<img width="1129" alt="screen shot 2018-08-16 at 11 50 36 am" src="https://user-images.githubusercontent.com/4952395/44210004-cf449980-a182-11e8-86bf-acfe562f2ba8.png">

[2018-08-16 13:13] pelsasser commented on #231
Sounds great.

On Thu, Aug 16, 2018 at 7:04 AM, Nitin R Gupta <notifications@github.com>
wrote:

--
Phil Elsasser
CTO and Co-Founder

marketprotocol.io
<http://www.marketprotocol.io>
Join Our Telegram Community <https://t.me/Market_Protocol_Chat>

[2018-08-16 16:21] lakikentaki opened #234 "[Token Interest] Change the page the visitors get after filling the form"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)

After filling out the interest form the users are being taken to a page that looks like this:
![subscirbe](https://user-images.githubusercontent.com/39289842/44220964-ad78f180-a145-11e8-803d-250ae8a80815.PNG)

### Expected Behavior
[comment]: # (Describe

[2018-08-16 17:57] lakikentaki commented on #234
I have built a page, and now I just need someone to build a DNS for it as suggested so that I can copy that link into our MailChimp. Both desktop and mobile display review are desirable.  Current link: http://thankyoutoken.pagedemo.co/

[2018-08-16 18:40] pelsasser opened #235 "[Subcriptions] Implement thank you page for signing up for newsletter and submitting token interest form"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-08-16 18:40] pelsasser commented on #234
closing in favor of permanent solution in #235

[2018-08-16 18:40] #234 closed

[2018-08-17 15:13] #231 closed

[2018-08-20 15:11] rojosnow commented on #233
ON HOLD. Move to the CMS repo.

[2018-08-20 22:41] pelsasser opened #238 "Create redirects for dev.cms.marketprotocol.io and cms.marketprotcol.io for index /blog"
Scripts needs to be edited to preserver redirects when we clear the buckets.

and we need to modify the website s3 bucket to redir /blog /press and /newsletter

[2018-08-20 22:57] pelsasser commented on #233
closed to move to new repo - https://github.com/MARKETProtocol/cms/issues/2

[2018-08-20 22:57] #233 closed

[2018-08-22 17:02] pelsasser commented on #110
@vish2595 thanks for the interest, we would like to approve someone that has completed a few bounties already for this task. I hope you will work with us in the future.

[2018-08-27 21:46] #238 closed

[2018-08-28 19:07] pelsasser opened #242 "Add route to main page with video pop up expanded for direct links."
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-08-28 19:18] nitinrgupta opened #243 "Make the explainer video section more prominent"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Right now, based on @seth-market's feedback - the explainer video section and the thumbnail is too small and users might glance over it.
Make the video thumbnail bigger and the play button more promine

[2018-08-30 13:46] octavioamu commented on #110
Thanks @nitinrgupta and @pelsasser

[2018-08-30 15:06] pelsasser commented on #110
@octavioamu - thanks for working through this with us!

[2018-08-30 21:28] pelsasser opened #244 "Add direct to route to website to allow us to subscribe"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-08-30 21:31] pelsasser commented on #37
closing - due to other priorities.

[2018-08-30 21:31] #37 closed

[2018-08-30 21:35] arun1595 commented on #244
@pelsasser I'm on it.

[2018-08-30 21:47] pelsasser commented on #244
@arun1595 - ideally its still overlayed over the homepage.  Does that make sense?

[2018-08-30 21:51] arun1595 commented on #244
@pelsasser Yup, got it.

[2018-08-30 23:16] pelsasser commented on #244
@bogdancondurache since @arun1595 is already working on this one, can you help with #242 ?

[2018-08-31 08:42] bogdancondurache commented on #244
@pelsasser It seems others applied to that as well :)

[2018-08-31 12:28] pelsasser commented on #242
@tigranbs - thanks for your interest, looking forward to a PR

[2018-08-31 12:52] darshannbs57 commented on #242
PR for this issue
https://github.com/MARKETProtocol/website/pull/245

[2018-08-31 13:28] darshannbs57 commented on #242
@pelsasser I had to delete th elast PR since it has commit from different account
https://github.com/MARKETProtocol/website/pull/246

[2018-08-31 13:40] pelsasser commented on #242
@darshannbs57 - I really appreciate your eagerness to get this work done for us.  Unfortunately, I already have approved @tigranbs.

With gitcoin, the process should be

1. Apply for work
1. Wait for funder to approve
1. Begin work once approved

Let's see if @tigranbs can let us know if he has started work on this or not, since he is the approved worker for this task.  If he hasn't and is willing

[2018-08-31 13:48] tigranbs commented on #242
@darshannbs57 saw your PR for me that looks good, I'm totally OK with your submission.

@pelsasser thanks for keeping process, I really appreciate it! Will apply to other open issues, anyway @darshannbs57 already done it, don't want to spend time doing almost the same.

[2018-08-31 14:01] darshannbs57 commented on #242
@tigranbs @pelsasser  Thank you. I apparently started work after posting in gitcoin.co , din't see the comments in the github page. I'll make sure I follow the process followed here for the future issues.

[2018-08-31 15:50] pelsasser commented on #242
@tigranbs - thanks for being flexible!
@darshannbs57 - thanks for PR!

Looking forward to working with you both more in the future.

[2018-08-31 18:32] pmaojo commented on #244
Oh. I see its already work in progress :)
Is any help needed yet?

[2018-09-01 16:56] #242 closed

[2018-09-01 16:57] eswarasai commented on #242
@darshannbs57 -- Thanks for the quick turnaround on this one. If you can submit work on Gitcoin, @pelsasser will payout the bounty :)

[2018-09-01 23:37] pelsasser commented on #244
Hey all - there is some oddness with Gitcoin going on, @arun1595 has been approved to work on this, not sure why Gitcoin isn't showing that.

Thanks for all the interest from others!

[2018-09-02 09:48] darshannbs57 commented on #242
@eswarasai @pelsasser  I'm not seeing the Submit Work button in Gitcoin

[2018-09-02 21:01] pelsasser commented on #242
@darshannbs57 you may have to re-apply since I already rejected you as the worker.  If not, I will just cancel the bounty and you can send me your address directly so I can get your bounty to you!

[2018-09-02 22:34] arun1595 commented on #244
@pelsasser Yeah, it's weird. I just got an email I was approved to work on the bounty but I am unable  to submit my work.

![image](https://user-images.githubusercontent.com/7039523/44961397-3e85f180-aed6-11e8-9ff8-f13650ae42ed.png)

/cc @owocki @PixelantDesign

[2018-09-03 04:48] darshannbs57 commented on #242
@pelsasser My Ethereum address 0x02B992EF6bcbB9bB38357197c8B3cFeF7ecE403c

[2018-09-03 12:10] PixelantDesign commented on #244
Thanks for tagging us! We're looking into this. I've captured it here https://github.com/gitcoinco/web/issues/2143

[2018-09-04 17:51] pelsasser commented on #242
@tigranbs - thanks again!
@darshannbs57 - bounty paid directly
https://etherscan.io/tx/0x5b9bde9bc196d579bc62a488bbbc77fbec0712c46068f028c9ac296e03d4f225

[2018-09-04 18:09] pelsasser commented on #242
sorry updated txHash - https://etherscan.io/tx/0x56aa6b469a94998c8a9d93563af9501199b3bc68a0b4b7635757c56fcfebb13c

[2018-09-05 14:06] #110 closed

[2018-09-06 00:38] #244 closed

[2018-09-06 01:50] pelsasser commented on #244
@arun1595 - if you are able to submit work, I can get this paid out.  LMK, if not I will pay you directly.  Lots of issues going on with gitcoin the last few days.

[2018-09-10 15:24] pelsasser opened #248 "Remove html version of white paper"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-09-10 16:12] mul53 commented on #248
Hey, i would have to love to have a shot at this. I can write my implementation?

[2018-09-10 16:29] pelsasser commented on #248
@mul53 - sure!

Right now we have an html web version of the white paper, so that is what we would like to remove.

Appreciate your help!

[2018-09-12 18:40] #248 closed

[2018-09-14 13:39] #243 closed

[2018-09-14 19:22] lakikentaki opened #251 "[Partners] Add ChainLink to our website partners page"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-09-18 07:27] #251 closed

[2018-09-19 22:54] seth-market opened #253 "Video preview and Join TG button dont correctly display on mobile"
The video preview on mobile is cut off on the right side on both android and iphones. Its better on iphones in safari. Once the video is started it is no longer cut off.

Also on android it doesnt seem to properly display the join TG button on mobile. Not sure of browser.

### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Desc

[2018-09-20 12:35] #253 closed

[2018-09-21 17:42] rojosnow opened #255 "[email] Change marketing email provider to SendGrid"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a marketer, I need the ability to use SendGrid as our marketing email provider since MailChimp has banned crypto companies.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to happen, and what actually happen)

[2018-09-25 18:28] pelsasser commented on #255
Currently we have to mailing lists on the site
1. General email newsletter
1. Token interest form / updates

[2018-09-26 13:49] #235 closed

[2018-10-05 16:30] pelsasser opened #258 "landing page implementation"
### Description
Implement layout for new join.marketprotocol.io site (probably easiest to route to marketprotocol.io/join)

### Definition of Done
- [ ] new route
- [ ] new layout
- [ ] any needed tests

[2018-10-16 13:18] #255 closed

[2018-10-16 13:18] nitinrgupta commented on #115
Closing this issue as its handled in the hero graphic of about page

[2018-10-16 13:19] #115 closed

[2018-10-16 13:23] nitinrgupta opened #259 "Add spinner while submitting forms in website"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-10-17 16:21] #259 closed

[2018-10-22 18:36] pelsasser opened #264 "[bug] Join Our Newsletter button"
![image](https://user-images.githubusercontent.com/15096737/47311462-06a64b00-d5f7-11e8-815b-2559e1a50a8d.png)

@nitinrgupta - this is at width ~1019